
body.body-qtf{
	background: #1B1B1B;
	color: #ACACAC;
}

.headTop{
	background-color: #000;
	color: #fff;
	padding: 7px;
	overflow: hidden;
}

.headTop a{
	color: #A3A3A3;
	text-decoration: none;
}

.headTop a:hover {
	color: #fff;
}

.siteLogo { float: left; text-indent: -999999px}

.mainNav{ float: right; list-style: none;}
.mainNav ul { 
	float: right;
	list-style: none;
	position: relative;
	margin-top: 26px;
	-webkit-padding-start: 0px;
}

.siteLogo{
	background: url(../images/logo-qtf.png) no-repeat 0 0 transparent;
	height: 75px;
	display: block;
	width: 225px;
}
.mainNav ul li { 
	float: left; 
	margin-left: 20px;
}

.centerCont{ 
	max-width: 1000px;
	margin: 0 auto;
	padding: 10px;
}
}

.lbCont{ 
	max-width: 600px;
	margin: 0 auto;
	padding: 0 46px;
}
.btnBasic{
	font: normal normal normal 11px/18px 'Helvetica Neue',Arial,sans-serif;
	color: #333;
	position: relative;
	background-color: #f8f8f8;
	background-image: -webkit-gradient(linear,left top,left bottom,from(#fff),to(#dedede));
	background-image: -moz-linear-gradient(top,#fff,#dedede);
	background-image: -o-linear-gradient(top,#fff,#dedede);
	background-image: -ms-linear-gradient(top,#fff,#dedede);
	background-image: linear-gradient(top,#fff,#dedede);
	border: #ccc solid 1px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	color: #333;
	font-weight: bold;
	text-shadow: 0 1px 0 rgba(255,255,255,.5);
	-webkit-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
	cursor: pointer;
	height: 18px;
	max-width: 98%;
	overflow: hidden;
	padding: 3px 10px;
	text-decoration: none;
	top: -5px;
}
.btnMail{
	background-image: url(../images/mail_icon_16.png);
	background-repeat: no-repeat;
	background-position: 4px 2px;
	padding-left:28px;
}

/* home petition */

.petition-background {
	width: 100%;
	position: absolute;
	background: #ef4036;
	top: 70px;
	z-index: -1;
	left: 0;
	height: 320px;
}

.petition {
	height: 300px;
	padding: 15px 0;
}

.petition h2 {
	text-transform: uppercase;
	font-size: 65px;
	text-align: center;
	font-weight: 200;
	color: #fff;
	font-family: "Yanone Kaffeesatz", Helvetica, sans-serif;
	-webkit-margin-before: 0px;
	-webkit-margin-after: 0px;
}

.petition h2 a {
	background: #000;
	color: #fff;
	font-size: 50px;
	padding: 5px 15px;
	float: right;
	margin-top: 10px;
}

.petition h2 a:hover {
	background: #fff;
	color: #000;
}

.petition a:-webkit-any-link {
	text-decoration: none;
}

.petition h2 a i {
	font-size: 24px;
}

/* home candidates' list */

.content .candidatesList li {
	list-style: none;
	padding: 5px 3px;
	margin: 0 10px 10px 0;
	width: 170px;
	float: left;
	text-align: center;
}

.candidatesList li img{
	clear: both;
	display: block;
	margin: 0 auto;
	
}
.content .candidatesList{ 
	clear: both;
	display: block;
	overflow: hidden;
	margin: 0;
	padding: 0;
}

.blacklist {
	position: relative;
	margin-top: 30px;
}

.theWhiteBox{
	background: #DBDBDB;
	position: relative;
	margin: 150px 25px;
	padding: 30px;
	box-shadow: 0px 0px 17px #fff inset, 0px 0px 15px #000
	-webkit-box-shadow: 0px 0px 17px #fff inset, 0px 0px 15px #000;
	border-radius: 8px;
	-webkit-border-radius: 8px;
	border: 3px solid #A7A4A4;
	color: #000;


}

.cName, h2.titleLine{font-family: "Yanone Kaffeesatz", Helvetica, sans-serif;}
.titleLine{
	width: 70%;
	margin: 0 auto;
	text-align: center;
}

.content h3 a.link-vota {
	color: #ef4036;
}

.content h3 a.link-vota:hover {
	color: #FFFFFF;
}

.candidatesList .cName{ 
	color: #fff;
	font-size: 1.45em;
	text-decoration: none;
	line-height: 1.4em; 
	clear: both;
	display: block;
}

.ficha{
	background-color: #000000;
	padding: 10px 2px 5px;
}

.content .ficha img{border: none;}

.theWhiteBox .ficha{
	background-color: #d2d2d2;
	color: #000;
}	

.theWhiteBox .ficha a.cName{ 
	color: #000;
}

.content .theBlackBox hr{
	height: 10px;
	margin: 1em;
}

.content .theWhiteBox hr{
	margin: 1em;
	background-image: url(../images/rope-hr.png);
	background-position: center;
	height: 10px;
}
small.actionQTF, .actionQTF{ 
	line-height: 25px;
	color: #ef4036;
}

.innerficha{}
.introCandidate{
	margin-top: 35px;
	display: block;
	overflow: hidden;
	clear: both;
}

.actionLine{
	float: left;
	margin-left: 15px;
}

.cImage{ float: left;}
.well.companies {
	text-align: center; 
	font-weight: lighter;
	line-height: 140%;
	color: #000;
}

.well.companies p, .spendItem{font-size: 90%; font-weight: lighter; color: #000;}

.donors li{ 
	text-align: left;
	font-size: 80%;
}

#discovery{display: none;}

.noResponseBand, .soonBand{position: relative;}
.noResponseBand:after{
	content: '';
	display: block;
	height: 125px;
	width: 100%;
	background: url(../images/no-responde.png) no-repeat transparent;
	position: absolute;
	top: 10px;
	left: -1px;
	background-position: center center;
}

.soonBand:after{
	content: '';
	display: block;
	height: 125px;
	width: 100%;
	background: url(../images/prox.png) no-repeat transparent;
	position: absolute;
	top: 10px;
	left: -3px;
	background-position: center center;
}


.tagline{ font-weight: lighter;
font-size: 70%;}


.spendItem{ text-transform: uppercase;}
.table tr.otros td{
	font-size: 80%;
	font-weight: lighter;
}
.table tr.otros:first-child td:first-child{
	text-indent: 0em;
}
.table tr.otros td:first-child{
	text-indent: 2em;
}
.table tr td.total{background-color: white; line-height: 170%;}

.programa, .compromiso, .declara_gasto{
	padding: 56px 0 12px;
	margin-top: 45px;
	position: relative;

}
.programa:before, .compromiso:before{
	content: '';
	display: block;
	height: 40px;
	width: 40px;
	background: url(../images/comillas-inicio.png) no-repeat 0 0 transparent;
	position: absolute;
	top: 108px;
	left: -36px;
}
.programa:after, .compromiso:after{
	content: '';
	display: block;
	height: 40px;
	width: 40px;
	background: url(../images/comillas-final.png) no-repeat 0 0 transparent;
	position: absolute;
	bottom: -10px;
	right: -41px;

}

.declara_gasto{background: url(../images/icono-declarados.png) no-repeat transparent center top; }

.programa{background: url(../images/icono-programa.png) no-repeat transparent center top;}

.compromiso{background: url(../images/icono-compromiso.png) no-repeat transparent center top;}

  .content h2, .fancybox-inner .content.wb h1  {
    color: #333;
}

.twitter-share-button {
	margin-top: 8px;
}

/*Ficha candidatos*/

.lbCont {
	padding: 20px;
}

/* Ampolleta */

.bulb_container {
width: 80%;
margin: 0 auto;
position: relative;
}

.fci-ampolleta-dark {
position: absolute;
right: -66px;
top: -6px;
}


.onlyInner{display: none;}

.inneNav .onlyInner{display: block;}

.fancybox-inner .qtf-inner {background-image: none;}

.fancybox-inner .headTop{ display: none; }

.qtf-inner {background: url(../images/qtf-bg.png) repeat 0 0 #292b2e;}

/*Para elementos que flotan*/

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}
 
.clearfix:after {
    clear: both;
}
 
/* IE6/7 support */
.clearfix {
    *zoom: 1;
}


/*Footer*/

footer {
	background-color: #000;
	padding: 7px;
}

footer a img {
	opacity: 0.7;
}

footer a {
	text-decoration: none;
}

footer a img:hover {
	opacity: 1;
}

footer span {
	float: right;
	margin-top: 20px;
}

/*Media queries*/

@media screen and (max-width: 1024px) {

	.bulb_container {
		display: none;
	}
}

@media screen and (max-width: 800px) {

	.petition h2 {
		font-size: 50px;
	}

	.petition {
		padding: 10px 0;
		margin-top: 50px;
	}

	.petition h2 a {
		font-size: 34px;
	}

}

@media screen and (max-width: 768px) {

	.content .candidatesList li {
		width: 165px;
	}

}

@media screen and (max-width: 604px) {

	.petition h2 {
		font-size: 42px;
	}

	.petition-background {
		height: 295px;
	}

	.petition {
		height: 170px;
		margin-top: 0;
	}

	.siteLogo {
		margin-left: 33%;
	}

}

@media screen and (max-width: 534px) {

	.petition h2 {
		font-size: 34px;
	}

	.petition h2 a {
		font-size: 28px;
	}

	.mainNav ul li {
		margin-left: 10px;
	}

	.petition-background {
		height: 260px;
	}

	.petition {
		height: 140px;
	}

}


@media screen and (max-width: 360px) {

	.petition-background {
		height: 310px;
	}

	.petition {
		height: 170px;
		margin-top: 50px;
	}

	.siteLogo {
		margin: 0px 17% 0px;
	}

	.mainNav {
		float: none;
		text-align: center;
	}

	.mainNav ul {
		float: none;
		margin-top: 0px;
	}

	.mainNav ul li {
		margin-left: 0px;
		clear: both;
		width: 100%;
	}

	.content .candidatesList li {
		width: 100%;
	}

}