---
layout: default
---	
<style>
	.nodisplay {
		display: none;
	}
</style>
<div class="home">
	{% include puppets.html %}
	{% include banner2.html %}
	<div class="container">
	  	<div class="row">
	  		<div class="col-md-8">
		  		<h2>Qué esta pasando en el #CasoPenta</h2>
		  		<!-- feed noticias -->
		  			<div id="data">
		  				<ul id="articles" class="list-unstyled"></ul>
		  			</div>
		  		<!-- fin feed noticias -->
	  		</div>
	      	<div class="col-md-4">
			      	{% include feed-twitter.html %}
	      	</div>
	  	</div>
	</div>
</div>
	<script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
	<script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
	<script src="/js/tabletop.js"></script>
	<script type="text/javascript">
		window.onload = function() { init(); myFunct(); };

		var public_spreadsheet_url = '//docs.google.com/spreadsheets/d/1jQysXERupAx_Qsdbq2SPSMC2f_uEnPTgPBc1lhoA_Dk/pubhtml';

		function init() {
		Tabletop.init( { key: public_spreadsheet_url,
		                 callback: showInfo,
		                 simpleSheet: true } )
		}

		function showInfo(data) {
			// var el_ul = document.createElement('ul');
			// 	el_ul.id = "articles"
			// 	el_ul.classList.add('list-unstyled')
			var el_ul = document.getElementById('articles');

			var cnt = 0;
			data.forEach( function(key, value) {
				
				var el_li = document.createElement('li');
				if(cnt>9)
					el_li.classList.add('nodisplay')
				var url = document.createElement('a');
					url.setAttribute('href', key.source );
					url.setAttribute('target', '_blank' );
					url.classList.add('main_url')
					url.appendChild( document.createTextNode( key.title ) );
				var read_more = document.createElement('a');
					read_more.setAttribute('href', key.source );
					read_more.setAttribute('target', '_blank' );
					read_more.classList.add('view_more')
					read_more.appendChild( document.createTextNode( " Seguir leyendo" ) );
				var h3 = document.createElement('h3');
					h3.appendChild( url )
				var p = document.createElement('p')
					p.appendChild( document.createTextNode(key.content) )
				
				el_li.appendChild(h3)
				p.appendChild(read_more)
				el_li.appendChild(p)
				el_ul.appendChild(el_li)

				cnt++;
			})

			//document.getElementById('articles').appendChild( el_ul );
		}

		var the_body = document.body; //getElementById('the_body');

		
	</script>
	{% include banner.html %}

