---
layout: base
title: "Quien te financia"
---

 <script>
        $(document).ready(function() {
            $('.fancybox').fancybox({
                padding : 0,

                prevEffect : 'none',
                nextEffect : 'none',
                closeBtn  : true,
                arrows    : true,

            });
        });
    </script>



{% include petition.html %}
<section class="content home presidenciales">

  <div class="manAbove"> </div>
  <div class="theBlackBox">
    <h1 class="titleLine">Aún no sabemos quién financia la campaña de la próxima Presidenta de Chile</h1>
    <p>¿Cuánto han gastado? ¿De dónde viene el dinero de sus campañas? ¿Por qué no han querido transparentar?</p>
  <ul class="candidatesList">
   
      {% for post in site.posts %}
        {% if post.categories contains 'blacklist' and post.categories contains 'presidencial' %}
            <li>
              {% include ficha_home.html %}
            </li> 
           
        {% endif %}
      {% endfor %}
    
    {% for post in site.posts %}
      {% if post.categories contains 'whitelist' and post.categories contains 'presidencial' %}
          <li>
           {% include ficha_home.html %}
          </li>
      {% endif %}
    {% endfor %}

    {% for post in site.posts %}
      {% if post.categories contains 'soon' and post.categories contains 'presidencial' %}
          <li>
           {% include ficha_home.html %}
          </li>
      {% endif %}
    {% endfor %}
  </ul>
  </ul>
</div>
</section>


{% if (site.categories.senadores or site.categories.diputados) %}

{% endif %}


      <a href="http://votainteligente.cl/" target="_blank">
        <div class="link-vota">
            Encuentra a tu candidato en <img src="{{ post.url }}/images/icono-votainteligente.png"><span>votainteligente.cl</span>
        </div>
      </a>
<div class="videos">
      <iframe width="495" height="315" src="//www.youtube.com/embed/RAwIb5XYDS0?rel=0" frameborder="0" allowfullscreen></iframe>
      <iframe src="//player.vimeo.com/video/81762490" width="495" height="315" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
</div>

<script>
$(document).ready(function(){
var url_consulta = 'https://api.change.org/v1/petitions/1332055?api_key=d20fe3393e99e0b669397f42987c0bd4fe928c9b52682b6f38183f571d7f054c&petition_url=http://www.change.org/es-LA/peticiones/qui%C3%A9n-te-financia-2';
$.getJSON( url_consulta + '&callback=?', function(data) {
// do my stuff
$('.nro-peticiones').html('Llevamos ' + data.signature_count + ' firmas');
});
})
</script>