---
layout: base
title: "Quien te financia"
---

 <script>
        $(document).ready(function() {
            $('.fancybox').fancybox({
                padding : 0,

                prevEffect : 'none',
                nextEffect : 'none',
                closeBtn  : true,
                arrows    : true,

            });
        });
    </script>

{% include petition.html %}

<section class="content home blacklist">

  <div class="manAbove"> </div>
  <div class="theBlackBox">
    <h2 class="titleLine"> ¿Quién financia a los presidenciables 2013?</h2>
    <p>En un mes de campaña electoral los candidatos gastarán miles de millones. ¿De dónde viene esta plata?</p>
  <ul class="candidatesList">
   
      {% for post in site.posts %}
        {% if post.categories contains 'blacklist' %}
            <li>
              {% include ficha_home.html %}
            </li> 
           
        {% endif %}
      {% endfor %}
    
    {% for post in site.posts %}
      {% if post.categories contains 'whitelist' %}
          <li>
           {% include ficha_home.html %}
          </li>
      {% endif %}
    {% endfor %}

    {% for post in site.posts %}
      {% if post.categories contains 'soon' %}
          <li>
           {% include ficha_home.html %}
          </li>
      {% endif %}
    {% endfor %}
  </ul>
  </ul>
      <a href="http://votainteligente.cl/" target="_blank">
        <div class="link-vota">
            Encuentra a tu candidato en <img src="{{ post.url }}/images/icono-votainteligente.png"><span>votainteligente.cl</span>
        </div>
      </a>
</div>
</section>

<script>
$(document).ready(function(){
var url_consulta = 'https://api.change.org/v1/petitions/1332055?api_key=d20fe3393e99e0b669397f42987c0bd4fe928c9b52682b6f38183f571d7f054c&petition_url=http://www.change.org/es-LA/peticiones/qui%C3%A9n-te-financia-2';
$.getJSON( url_consulta + '&callback=?', function(data) {
// do my stuff
$('.nro-peticiones').html('Llevamos ' + data.signature_count + ' firmas');
});
})
</script>