---
layout: base
title: "Quien te financia"
---

 <script>
        $(document).ready(function() {
            $('.fancybox').fancybox({
                padding : 0,

                prevEffect : 'none',
                nextEffect : 'none',
                closeBtn  : true,
                arrows    : true,

            });
        });
    </script>


<section class="content home blacklist">

  <div class="manAbove"> </div>
  <div class="theBlackBox">
    <h2 class="titleLine"> Muchos millones se invirtieron en las primarias. Revisa las declaraciones de los candidatos que participaron: </h2>
  <ul class="candidatesList">
   
      {% for post in site.posts %}
        {% if post.categories contains 'p_blacklist' %}
            <li>
              {% include p_ficha_home.html %}
            </li> 
           
        {% endif %}
      {% endfor %}
    
    {% for post in site.posts %}
      {% if post.categories contains 'p_whitelist' %}
          <li>
           {% include p_ficha_home.html %}
          </li>
      {% endif %}
    {% endfor %}
  </ul>
  </ul>
  <h3>Encuentra más información sobre los candidatos en <a class="link-vota" href="http://votainteligente.cl/">Votainteligente.cl</a></h3>
</div>
</section>

<section class="content theWhiteBox">
<a href="http://votainteligente.cl" target="_blank"><img src="images/banner-vota.jpg" /></a>
</section>