<section id="home">
    <div class="container">
        <h1>Lo que está pasando en caso Penta-SQM</h1>
    </div>
</section>

<section class="arrow-down">
    <div class="container">
        <a href="#imputados"><i class="fa fa-chevron-down fa-2x"></i></a>
    </div>
</section>

<section id="imputados" class="bg-lightblue">
    <div class="container">
        <h2>Los querellados<span class='subhead'>Estos son los funcionarios públicos ante los cuales se interpuso nuestra querella por presunto cohecho <a href="#" data-toggle="tooltip" data-placement="top" title="El cohecho es un delito que consiste en que una autoridad o funcionario público acepta o solicita una dádiva a cambio de realizar u omitir un acto inherente a su cargo"><i class="fa fa-info-circle"></i></a> :</span></h2>
        <h3></h3>
        <ul class="grid cs-style-3 clearfix">
            {% assign counter=0 %}
            {% for congressman in site.congressmen %}
            <div class="col-md-15 col-sm-15">
                <div class="thumbnail">
                    <img src="{{site.url}}/img/congressman/{{congressman.image}}" alt="{{congressman.name}}">
                    <div class="caption">
                        <h3>{{congressman.name}}</h3>
                        <p>{{congressman.current_situation}}</p>
                    </div>
                </div>
            </div>
            {% if counter == 4 %}
            </ul>
            <ul class="grid cs-style-3 clearfix">
            {% endif %}
            {% assign counter=counter | plus:1 %}
            {% endfor %}
        </ul>
        <div class="reform">
                <h3><i class="fa fa-exclamation-triangle"></i> Según el Código Procesal Penal, como ONG sólo podemos presentar querellas contra personas que hayan sido autoridades o funcionarios en ejercicio al momento del ilícito, por delitos cometidos contra la probidad pública.</h3>
        </div>
</div>
</section>