<section>
    <div class="container">
        <h1>LA QUERELLA QUE NO ESPERABAN...</h1>
        <h4><i>"Porque los ciudadanos se están informando</br>Porque los ciudadanos exigimos que se investigue</br>Porque los ciudadanos exigimos sanciones"</i></h4>
        <h3>#Caso SQM: Tribunal Constitucional declara inadmisible requerimiento del ex gerente de SQM Patricio Contesse y Fiscalía podrá proceder a investigar información contable de la minera.</h3>
        <h3>Ayer Miércoles 25 de Abril se realizaron los alegatos en el Tribunal Constitucional (TC) por el recurso presentado por el ex gerente general de SQM, Patricio Contesse, en contra del Ministerio Público. El TC debía revisar la legalidad de la eventual incautación de los datos de contabilidad de la empresa por parte de Fiscalía, a lo cual se oponía SQM manifestando que antes de esto debía existir una demanda por parte del Servicio de Impuestos Internos (SII). Finalmente y por una decisión unánime por parte del tribunal, el requerimiento se declaró inadmisible permitiendo así a Fiscalía incautar material y allanar las oficinas de SQM.
        En representación de la Fundación Ciudadano Inteligente acudió el abogado Miguel Soto. Revisa sus alegatos en el video. La Fundación Ciudadano Inteligente, interpuso una querella criminal en el caso denominado Penta-Soquimich por los delitos cometidos por funcionarios de la Administración de Estado contra la probidad pública. Esta querella tiene como objeto acompañar imparcialmente el accionar de la Fiscalía y la Justicia, a fin de que se sancione con el máximo rigor que permite la ley, a los responsables de cometer  el delito de cohecho.</h3>
        <div class="text-right">
            <a class="btn" href="{{site.baseurl}}/querella"><h3>Revisa la querella</h3></a>
        </div>
    </div>
</section>

<section>
    <div class="container">
        <h3>Estos son los funcionarios públicos ante los cuales se interpuso nuestra querella por delito de cohecho <a href="#" data-toggle="tooltip" data-placement="top" title="El cohecho es un delito que consiste en que una autoridad o funcionario público acepta o solicita una dádiva a cambio de realizar u omitir un acto inherente a su cargo"><i class="fa fa-info-circle"></i></a> :</h3>
        <ul class="grid cs-style-3 clearfix">
            {% assign counter=0 %}
            {% for congressman in site.congressmen %}
            <div class="col-md-15 col-sm-15">
                <div class="thumbnail">
                    <img src="{{site.url}}/img/congressman/{{congressman.image}}" alt="{{congressman.name}}">
                    <div class="caption">
                        <h3>{{congressman.name}}</h3>
                        <p>{{congressman.current_situation}}</p>
                    </div>
                </div>
            </div>
            {% if counter == 4 %}
            </ul>
            <ul class="grid cs-style-3 clearfix">
            {% endif %}
            {% assign counter=counter | plus:1 %}
            {% endfor %}
        </ul>
        <div class="reform">
                <h3><i class="fa fa-exclamation-triangle"></i> Según el artículo 111 del Código Procesal Penal, sólo se puede  presentar querellas contra personas que hayan sido autoridades o funcionarios en ejercicio al momento del ilícito, por delitos cometidos contra la probidad pública.</h3>
        </div>
</div>
</section>