<!-- Related Projects Row -->
        <div class="container">
        	<div class="titleLine">
	        	<h2>Ya está en el congreso la Ley de Financiamiento de la Política, pero sin facultades ni recursos el Servel no podrá detectar al señor del maletín</h2>
				<h1>Pídele al Gobierno y a la Comisión que envíe el Proyecto de Ley que reforma el Servel ahora</h1>
		        
        	</div>

        	<ul class="grid cs-style-3 clearfix">
				  <div class="col-md-15 col-sm-15 destacado">
				    <div class="thumbnail">
				      <img src="{{site.url}}/img/felipe-harboe.jpg" alt="Felipe Harboe">
				      <div class="caption">
				        <h3>Ximena Rincón</h3>
				        <p>Ministra Secretaría General de la Presidencia</p>
				        <spam id="twitt-rincon"></spam>
				        <a id="mycustommailbutton" href="mailto:trey@minsegpres.gob.cl?subject=No%20hay%20reforma%20sin%20SERVEL&amp;body=Estimada%20Ximena%20Rinc%C3%B3n%3A%0A%0AYa%20se%20encuentra%20el%20proyecto%20de%20ley%20de%20financiamiento%20de%20la%20pol%C3%ADtica%20en%20el%20Congreso%20Nacional%2C%20pero%20esto%20no%20es%20suficiente.%20Los%20ciudadanos%20estamos%20preocupados%20por%20tener%20un%20SERVEL%20con%20facultades%20y%20recursos%20para%20ser%20un%20garante%20y%20fiscalizador%20activo.%20Necesitamos%20que%20se%20env%C3%ADe%20el%20proyecto%20de%20ley%20del%20SERVEL%20AHORA!%20Del%20compromiso%20de%20todos%20depender%C3%A1%20mantener%20al%20%22se%C3%B1or%20del%20malet%C3%ADn%22%20lejos%20de%20nuestra%20democracia.%20%0A%0AMuchas%20gracias"><i class="fa fa-envelope-o" title="Pregúntales"></i> Escríbele</a>
				      </div>
				    </div>
				  </div>
				  <div class="col-md-15 col-sm-15">
				    <div class="thumbnail">
				      <img src="{{site.url}}/img/felipe-harboe.jpg" alt="Felipe Harboe">
				      <div class="caption">
				        <h3>Ricardo Rincón</h3>
				        <p>Comisión Constitución, Cámara de Diputados</p>
				        <spam id="twitt-rrincon"></spam>
				        <a id="mycustommailbutton" href="mailto:rrincon@congreso.cl?subject=No%20hay%20reforma%20sin%20SERVEL&amp;body=Estimado%20Ricardo%20Rinc%C3%B3n%3A%0A%0AYa%20se%20encuentra%20el%20proyecto%20de%20ley%20de%20financiamiento%20de%20la%20pol%C3%ADtica%20en%20el%20Congreso%20Nacional%2C%20pero%20esto%20no%20es%20suficiente.%20Los%20ciudadanos%20estamos%20preocupados%20por%20tener%20un%20SERVEL%20con%20facultades%20y%20recursos%20para%20ser%20un%20garante%20y%20fiscalizador%20activo.%20Necesitamos%20que%20se%20env%C3%ADe%20el%20proyecto%20de%20ley%20del%20SERVEL%20AHORA!%20Del%20compromiso%20de%20todos%20depender%C3%A1%20mantener%20al%20%22se%C3%B1or%20del%20malet%C3%ADn%22%20lejos%20de%20nuestra%20democracia.%20%0A%0AMuchas%20gracias"><i class="fa fa-envelope-o" title="Pregúntales"></i> Escríbele</a>
				      </div>
				    </div>
				  </div>
				  <div class="col-md-15 col-sm-15">
				    <div class="thumbnail">
				      <img src="{{site.url}}/img/felipe-harboe.jpg" alt="Felipe Harboe">
				      <div class="caption">
				        <h3>Osvaldo Andrade</h3>
				        <p>Comisión Constitución, Cámara de Diputados</p>
				        <a id="mycustommailbutton" href="mailto:oandrade@congreso.cl?subject=No%20hay%20reforma%20sin%20SERVEL&amp;body=Estimado%20Osvaldo%20Andrade%3A%0A%0AYa%20se%20encuentra%20el%20proyecto%20de%20ley%20de%20financiamiento%20de%20la%20pol%C3%ADtica%20en%20el%20Congreso%20Nacional%2C%20pero%20esto%20no%20es%20suficiente.%20Los%20ciudadanos%20estamos%20preocupados%20por%20tener%20un%20SERVEL%20con%20facultades%20y%20recursos%20para%20ser%20un%20garante%20y%20fiscalizador%20activo.%20Necesitamos%20que%20se%20env%C3%ADe%20el%20proyecto%20de%20ley%20del%20SERVEL%20AHORA!%20Del%20compromiso%20de%20todos%20depender%C3%A1%20mantener%20al%20%22se%C3%B1or%20del%20malet%C3%ADn%22%20lejos%20de%20nuestra%20democracia.%20%0A%0AMuchas%20gracias"><i class="fa fa-envelope-o" title="Pregúntales"></i> Escríbele</a>
				      </div>
				    </div>
				  </div>
				  <div class="col-md-15 col-sm-15">
				    <div class="thumbnail">
				      <img src="{{site.url}}/img/felipe-harboe.jpg" alt="Felipe Harboe">
				      <div class="caption">
				        <h3>Guillermo Ceroni</h3>
				        <p>Comisión Constitución, Cámara de Diputados</p>
				        <spam id="twitt-cceroni"></spam>
				        <a id="mycustommailbutton" href="mailto:gceroni@congreso.cl?subject=No%20hay%20reforma%20sin%20SERVEL&amp;body=Estimado%20Guillermo%20Ceroni%3A%0A%0AYa%20se%20encuentra%20el%20proyecto%20de%20ley%20de%20financiamiento%20de%20la%20pol%C3%ADtica%20en%20el%20Congreso%20Nacional%2C%20pero%20esto%20no%20es%20suficiente.%20Los%20ciudadanos%20estamos%20preocupados%20por%20tener%20un%20SERVEL%20con%20facultades%20y%20recursos%20para%20ser%20un%20garante%20y%20fiscalizador%20activo.%20Necesitamos%20que%20se%20env%C3%ADe%20el%20proyecto%20de%20ley%20del%20SERVEL%20AHORA!%20Del%20compromiso%20de%20todos%20depender%C3%A1%20mantener%20al%20%22se%C3%B1or%20del%20malet%C3%ADn%22%20lejos%20de%20nuestra%20democracia.%20%0A%0AMuchas%20gracias"><i class="fa fa-envelope-o" title="Pregúntales"></i> Escríbele</a>
				      </div>
				    </div>
				  </div>
				  <div class="col-md-15 col-sm-15">
				    <div class="thumbnail">
				      <img src="{{site.url}}/img/felipe-harboe.jpg" alt="Felipe Harboe">
				      <div class="caption">
				        <h3>Fuad Chahin</h3>
				        <p>Comisión Constitución, Cámara de Diputados</p>
				        <spam id="twitt-fchahin"></spam>
				        <a id="mycustommailbutton" href="mailto:fchahin@congreso.cl?subject=No%20hay%20reforma%20sin%20SERVEL&amp;body=Estimado%20Fuad%20Chahin%3A%0A%0AYa%20se%20encuentra%20el%20proyecto%20de%20ley%20de%20financiamiento%20de%20la%20pol%C3%ADtica%20en%20el%20Congreso%20Nacional%2C%20pero%20esto%20no%20es%20suficiente.%20Los%20ciudadanos%20estamos%20preocupados%20por%20tener%20un%20SERVEL%20con%20facultades%20y%20recursos%20para%20ser%20un%20garante%20y%20fiscalizador%20activo.%20Necesitamos%20que%20se%20env%C3%ADe%20el%20proyecto%20de%20ley%20del%20SERVEL%20AHORA!%20Del%20compromiso%20de%20todos%20depender%C3%A1%20mantener%20al%20%22se%C3%B1or%20del%20malet%C3%ADn%22%20lejos%20de%20nuestra%20democracia.%20%0A%0AMuchas%20gracias"><i class="fa fa-envelope-o" title="Pregúntales"></i> Escríbele</a>
				      </div>
				    </div>
				  </div>
        	</ul>

        	<ul class="grid cs-style-3 clearfix">
				  <div class="col-md-15 col-sm-15">
				    <div class="thumbnail">
				      <img src="{{site.url}}/img/felipe-harboe.jpg" alt="Felipe Harboe">
				      <div class="caption">
				        <h3>Juan Antonio Coloma</h3>
				        <p>Comisión Constitución, Cámara de Diputados</p>
				        <spam id="twitt-jcoloma"></spam>
				        <a id="mycustommailbutton" href="mailto:juanantoniocoloma@congreso.cl?subject=No%20hay%20reforma%20sin%20SERVEL&amp;body=Estimado%20Juan%20Antonio%20Coloma%3A%0A%0AYa%20se%20encuentra%20el%20proyecto%20de%20ley%20de%20financiamiento%20de%20la%20pol%C3%ADtica%20en%20el%20Congreso%20Nacional%2C%20pero%20esto%20no%20es%20suficiente.%20Los%20ciudadanos%20estamos%20preocupados%20por%20tener%20un%20SERVEL%20con%20facultades%20y%20recursos%20para%20ser%20un%20garante%20y%20fiscalizador%20activo.%20Necesitamos%20que%20se%20env%C3%ADe%20el%20proyecto%20de%20ley%20del%20SERVEL%20AHORA!%20Del%20compromiso%20de%20todos%20depender%C3%A1%20mantener%20al%20%22se%C3%B1or%20del%20malet%C3%ADn%22%20lejos%20de%20nuestra%20democracia.%20%0A%0AMuchas%20gracias"><i class="fa fa-envelope-o" title="Pregúntales"></i> Escríbele</a>
				      </div>
				    </div>
				  </div>
				  <div class="col-md-15 col-sm-15">
				    <div class="thumbnail">
				      <img src="{{site.url}}/img/felipe-harboe.jpg" alt="Felipe Harboe">
				      <div class="caption">
				        <h3>Hugo Gutiérrez</h3>
				        <p>Comisión Constitución, Cámara de Diputados</p>
				        <spam id="twitt-hgutierrez"></spam>
				        <a id="mycustommailbutton" href="mailto:hgutierrez@congreso.cl?subject=No%20hay%20reforma%20sin%20SERVEL&amp;body=Estimado%20Hugo%20Gutiérrez%3A%0A%0AYa%20se%20encuentra%20el%20proyecto%20de%20ley%20de%20financiamiento%20de%20la%20pol%C3%ADtica%20en%20el%20Congreso%20Nacional%2C%20pero%20esto%20no%20es%20suficiente.%20Los%20ciudadanos%20estamos%20preocupados%20por%20tener%20un%20SERVEL%20con%20facultades%20y%20recursos%20para%20ser%20un%20garante%20y%20fiscalizador%20activo.%20Necesitamos%20que%20se%20env%C3%ADe%20el%20proyecto%20de%20ley%20del%20SERVEL%20AHORA!%20Del%20compromiso%20de%20todos%20depender%C3%A1%20mantener%20al%20%22se%C3%B1or%20del%20malet%C3%ADn%22%20lejos%20de%20nuestra%20democracia.%20%0A%0AMuchas%20gracias"><i class="fa fa-envelope-o" title="Pregúntales"></i> Escríbele</a>
				      </div>
				    </div>
				  </div>
				  <div class="col-md-15 col-sm-15">
				    <div class="thumbnail">
				      <img src="{{site.url}}/img/felipe-harboe.jpg" alt="Felipe Harboe">
				      <div class="caption">
				        <h3>Jorge Insunza</h3>
				        <p>Comisión Constitución, Cámara de Diputados</p>
				        <spam id="twitt-jinsunza"></spam>
				        <a id="mycustommailbutton" href="mailto:jorge.insunza@congreso.cl?subject=No%20hay%20reforma%20sin%20SERVEL&amp;body=Estimado%20Jorge%20Insunza%3A%0A%0AYa%20se%20encuentra%20el%20proyecto%20de%20ley%20de%20financiamiento%20de%20la%20pol%C3%ADtica%20en%20el%20Congreso%20Nacional%2C%20pero%20esto%20no%20es%20suficiente.%20Los%20ciudadanos%20estamos%20preocupados%20por%20tener%20un%20SERVEL%20con%20facultades%20y%20recursos%20para%20ser%20un%20garante%20y%20fiscalizador%20activo.%20Necesitamos%20que%20se%20env%C3%ADe%20el%20proyecto%20de%20ley%20del%20SERVEL%20AHORA!%20Del%20compromiso%20de%20todos%20depender%C3%A1%20mantener%20al%20%22se%C3%B1or%20del%20malet%C3%ADn%22%20lejos%20de%20nuestra%20democracia.%20%0A%0AMuchas%20gracias"><i class="fa fa-envelope-o" title="Pregúntales"></i> Escríbele</a>
				      </div>
				    </div>
				  </div>
				  <div class="col-md-15 col-sm-15">
				    <div class="thumbnail">
				      <img src="{{site.url}}/img/felipe-harboe.jpg" alt="Felipe Harboe">
				      <div class="caption">
				        <h3>Cristián Monckeberg</h3>
				        <p>Comisión Constitución, Cámara de Diputados</p>
				        <spam id="twitt-cmonckeberg"></spam>
				        <a id="mycustommailbutton" href="mailto:cmonckeberg@congreso.cl?subject=No%20hay%20reforma%20sin%20SERVEL&amp;body=Estimado%20Cristian%20Monckeberg%3A%0A%0AYa%20se%20encuentra%20el%20proyecto%20de%20ley%20de%20financiamiento%20de%20la%20pol%C3%ADtica%20en%20el%20Congreso%20Nacional%2C%20pero%20esto%20no%20es%20suficiente.%20Los%20ciudadanos%20estamos%20preocupados%20por%20tener%20un%20SERVEL%20con%20facultades%20y%20recursos%20para%20ser%20un%20garante%20y%20fiscalizador%20activo.%20Necesitamos%20que%20se%20env%C3%ADe%20el%20proyecto%20de%20ley%20del%20SERVEL%20AHORA!%20Del%20compromiso%20de%20todos%20depender%C3%A1%20mantener%20al%20%22se%C3%B1or%20del%20malet%C3%ADn%22%20lejos%20de%20nuestra%20democracia.%20%0A%0AMuchas%20gracias"><i class="fa fa-envelope-o" title="Pregúntales"></i> Escríbele</a>
				      </div>
				    </div>
				  </div>
				  <div class="col-md-15 col-sm-15">
				    <div class="thumbnail">
				      <img src="{{site.url}}/img/felipe-harboe.jpg" alt="Felipe Harboe">
				      <div class="caption">
				        <h3>René Saffirio</h3>
				        <p>Comisión Constitución, Cámara de Diputados</p>
				        <spam id="twitt-rsaffirio"></spam>
				        <a id="mycustommailbutton" href="mailto:rsaffirio@congreso.cl?subject=No%20hay%20reforma%20sin%20SERVEL&amp;body=Estimado%20Rene%20Saffirio%3A%0A%0AYa%20se%20encuentra%20el%20proyecto%20de%20ley%20de%20financiamiento%20de%20la%20pol%C3%ADtica%20en%20el%20Congreso%20Nacional%2C%20pero%20esto%20no%20es%20suficiente.%20Los%20ciudadanos%20estamos%20preocupados%20por%20tener%20un%20SERVEL%20con%20facultades%20y%20recursos%20para%20ser%20un%20garante%20y%20fiscalizador%20activo.%20Necesitamos%20que%20se%20env%C3%ADe%20el%20proyecto%20de%20ley%20del%20SERVEL%20AHORA!%20Del%20compromiso%20de%20todos%20depender%C3%A1%20mantener%20al%20%22se%C3%B1or%20del%20malet%C3%ADn%22%20lejos%20de%20nuestra%20democracia.%20%0A%0AMuchas%20gracias"><i class="fa fa-envelope-o" title="Pregúntales"></i> Escríbele</a>
				      </div>
				    </div>
				  </div>
        	</ul>

        	<ul class="grid cs-style-3 clearfix">
				  <div class="col-md-15 col-sm-15">
				    <div class="thumbnail">
				      <img src="{{site.url}}/img/felipe-harboe.jpg" alt="Felipe Harboe">
				      <div class="caption">
				        <h3>Leonardo Soto</h3>
				        <p>Comisión Constitución, Cámara de Diputados</p>
				        <spam id="twitt-lsoto"></spam>
				        <a id="mycustommailbutton" href="mailto:leonardo.soto@congreso.cl?subject=No%20hay%20reforma%20sin%20SERVEL&amp;body=Estimado%20Leonardo%20Soto%3A%0A%0AYa%20se%20encuentra%20el%20proyecto%20de%20ley%20de%20financiamiento%20de%20la%20pol%C3%ADtica%20en%20el%20Congreso%20Nacional%2C%20pero%20esto%20no%20es%20suficiente.%20Los%20ciudadanos%20estamos%20preocupados%20por%20tener%20un%20SERVEL%20con%20facultades%20y%20recursos%20para%20ser%20un%20garante%20y%20fiscalizador%20activo.%20Necesitamos%20que%20se%20env%C3%ADe%20el%20proyecto%20de%20ley%20del%20SERVEL%20AHORA!%20Del%20compromiso%20de%20todos%20depender%C3%A1%20mantener%20al%20%22se%C3%B1or%20del%20malet%C3%ADn%22%20lejos%20de%20nuestra%20democracia.%20%0A%0AMuchas%20gracias"><i class="fa fa-envelope-o" title="Pregúntales"></i> Escríbele</a>
				      </div>
				    </div>
				  </div>
				  <div class="col-md-15 col-sm-15">
				    <div class="thumbnail">
				      <img src="{{site.url}}/img/felipe-harboe.jpg" alt="Felipe Harboe">
				      <div class="caption">
				        <h3>Arturo Squella</h3>
				        <p>Comisión Constitución, Cámara de Diputados</p>
				        <spam id="twitt-asquella"></spam>
				        <a id="mycustommailbutton" href="mailto:asquella@congreso.cl?subject=No%20hay%20reforma%20sin%20SERVEL&amp;body=Estimado%20Arturo%20Squella%3A%0A%0AYa%20se%20encuentra%20el%20proyecto%20de%20ley%20de%20financiamiento%20de%20la%20pol%C3%ADtica%20en%20el%20Congreso%20Nacional%2C%20pero%20esto%20no%20es%20suficiente.%20Los%20ciudadanos%20estamos%20preocupados%20por%20tener%20un%20SERVEL%20con%20facultades%20y%20recursos%20para%20ser%20un%20garante%20y%20fiscalizador%20activo.%20Necesitamos%20que%20se%20env%C3%ADe%20el%20proyecto%20de%20ley%20del%20SERVEL%20AHORA!%20Del%20compromiso%20de%20todos%20depender%C3%A1%20mantener%20al%20%22se%C3%B1or%20del%20malet%C3%ADn%22%20lejos%20de%20nuestra%20democracia.%20%0A%0AMuchas%20gracias"><i class="fa fa-envelope-o" title="Pregúntales"></i> Escríbele</a>
				      </div>
				    </div>
				  </div>
				  <div class="col-md-15 col-sm-15">
				    <div class="thumbnail">
				      <img src="{{site.url}}/img/felipe-harboe.jpg" alt="Felipe Harboe">
				      <div class="caption">
				        <h3>Renzo Trisotti</h3>
				        <p>Comisión Constitución, Cámara de Diputados</p>
				        <spam id="twitt-rtrisotti"></spam>
				        <a id="mycustommailbutton" href="mailto:renzo.trisotti@congreso.cl?subject=No%20hay%20reforma%20sin%20SERVEL&amp;body=Estimado%20Renzo%20Trisotti%3A%0A%0AYa%20se%20encuentra%20el%20proyecto%20de%20ley%20de%20financiamiento%20de%20la%20pol%C3%ADtica%20en%20el%20Congreso%20Nacional%2C%20pero%20esto%20no%20es%20suficiente.%20Los%20ciudadanos%20estamos%20preocupados%20por%20tener%20un%20SERVEL%20con%20facultades%20y%20recursos%20para%20ser%20un%20garante%20y%20fiscalizador%20activo.%20Necesitamos%20que%20se%20env%C3%ADe%20el%20proyecto%20de%20ley%20del%20SERVEL%20AHORA!%20Del%20compromiso%20de%20todos%20depender%C3%A1%20mantener%20al%20%22se%C3%B1or%20del%20malet%C3%ADn%22%20lejos%20de%20nuestra%20democracia.%20%0A%0AMuchas%20gracias"><i class="fa fa-envelope-o" title="Pregúntales"></i> Escríbele</a>
				      </div>
				    </div>
				  </div>
				  <div class="col-md-15 col-sm-15">
				    <div class="thumbnail">
				      <img src="{{site.url}}/img/felipe-harboe.jpg" alt="Felipe Harboe">
				      <div class="caption">
				        <h3>Marisol Turres</h3>
				        <p>Comisión Constitución, Cámara de Diputados</p>
				        <spam id="twitt-mturres"></spam>
				        <a id="mycustommailbutton" href="mailto:mturres@congreso.cl?subject=No%20hay%20reforma%20sin%20SERVEL&amp;body=Estimada%20Marisol%20Turres%3A%0A%0AYa%20se%20encuentra%20el%20proyecto%20de%20ley%20de%20financiamiento%20de%20la%20pol%C3%ADtica%20en%20el%20Congreso%20Nacional%2C%20pero%20esto%20no%20es%20suficiente.%20Los%20ciudadanos%20estamos%20preocupados%20por%20tener%20un%20SERVEL%20con%20facultades%20y%20recursos%20para%20ser%20un%20garante%20y%20fiscalizador%20activo.%20Necesitamos%20que%20se%20env%C3%ADe%20el%20proyecto%20de%20ley%20del%20SERVEL%20AHORA!%20Del%20compromiso%20de%20todos%20depender%C3%A1%20mantener%20al%20%22se%C3%B1or%20del%20malet%C3%ADn%22%20lejos%20de%20nuestra%20democracia.%20%0A%0AMuchas%20gracias"><i class="fa fa-envelope-o" title="Pregúntales"></i> Escríbele</a>
				      </div>
				    </div>
				  </div>
        	</ul>
        </div>	


{% include twitts.html %}
