<div class="banner">
	<div class="container info">
		     <h1>Seminario: <strong>Dinero y Política</strong></h1>
		     <p>Te invitamos a nuestro segundo seminario de debate, donde la <strong>Fundación Ciudadano Inteligente</strong> presentará su propuesta de regulación en la materia. Además contaremos con los comentarios de Alejandro Ferreiro y María de los Ángeles Fernández.</p>
		     <span>Jueves 9 de Octubre | 18:30 Hrs | Facultad de Derecho UAH: Cienfuegos 41, Santiago</span>
	</div>
</div>