{% if page.responde_financiamiento == 'y' %}
 <div class="well companies">
	
	<h2> Origen del financiamiento de su campaña</h2>
		
		{% for qtf in page.qtf_empresas %}
			{{ qtf | markdownify }}
		{% endfor %}

		<ul class="donors" >
			{% for donor in page.donors %}
				<li >{{ donor | first }} : <strong>{{ donor | last  }}</strong> </li>
			{% endfor %}
		</ul>


	<br />
	 
	<strong class="actionQTF"> ¿Qué tal esta respuesta? </strong>
	  <span class="oneAction">
	  	{% if page.star != null  %}
           <a href="http://twitter.com/share" class="twitter-share-button" data-url="http://www.quientefinancia.cl" data-count="none" data-via="{{ site.twitter }}" data-text="Esta es la transparencia de @{{page.c_twitter}} {{site.hashtag}}" ></a>
     
    {% else %}

           <a href="http://twitter.com/share" class="twitter-share-button" data-url="http://www.quientefinancia.cl" data-count="none" data-via="{{ site.twitter }}" data-text="¿Es suficiente la respuesta de @{{page.c_twitter}}? {{site.hashtag}}" ></a>
        
    {% endif %}
    </span>
</div>
{% endif %}

<!--responde sin responder-->

{% if page.responde_financiamiento == 'm' %}

 <div class="well companies">
	
	<h2> Origen del financiamiento de su campaña</h2>
		
		{% for qtf in page.qtf_empresas %}
			{{ qtf | markdownify }}
		{% endfor %}

	<br />
	 
	<strong class="actionQTF">
	           {% if page.gender == 'f' %}
	            ¡Pregúntale quién la financia!
	            {% endif %}
	            {% if page.gender == 'm' %}
	            ¡Pregúntale quién lo financia!
	            {% endif %}

        </strong>
        <br/>
         <!-- Twitter -->

        <span class="oneAction">
            <a href="http://twitter.com/share" class="twitter-share-button" data-url="http://www.quientefinancia.cl" data-count="none" data-via="{{ site.twitter }}" data-text="Oye @{{page.c_twitter}} a tí {{site.hashtag}} la campaña?" ></a>
        </span>
</div>
{% endif %}

<!---->

{% if page.responde_financiamiento == 'n' %}
<div class="well companies">

	<h2>  No ha declarado a quiénes le pidió financiamiento. </h3>
		<strong class="actionQTF">
	           {% if page.gender == 'f' %}
	            ¡Pregúntale quién la financia!
	            {% endif %}
	            {% if page.gender == 'm' %}
	            ¡Pregúntale quién lo financia!
	            {% endif %}

        </strong>
        <br/>
         <!-- Twitter -->

        <span class="oneAction">
            <a href="http://twitter.com/share" class="twitter-share-button" data-url="http://www.quientefinancia.cl" data-count="none" data-via="{{ site.twitter }}" data-text="Oye @{{page.c_twitter}} a tí {{site.hashtag}} la campaña?" ></a>
        </span>
</div>
{% endif %}




<div class="declara_gasto">


{% if page.responde_gasto == 'y' %}

	<h2> Gastos declarados </h3>
	<div class="tagline"> al {{ page.fecha_rendicion }}</div>


	<table class="table table-striped table-bordered table-declare">

		{% for gasto in page.gastos %}
			<tr>
				<td class="spendItem">{{ gasto | first }} </td>	
				<td>{{ gasto | last }}</td>
			</tr>
		{% endfor %}
		{% for otro in page.otros_gastos %}
			<tr class="otros">
				<td>{{ otro | first }} </td>	
				<td>{{ otro | last }}</td>
			</tr>
		{% endfor %}
			<tr >
				<td class="total">Gasto total:</td>
				<td class="total">{{ page.g_total }}</td>
			</tr>

	</table>



{% endif %}
{% if page.responde_gasto == 'n' %}

<div class="well">
	<h3>El candidato no ha transparentado sus gastos de campaña<h3>
</div>	
{% endif %}
</div>


{% if page.compromiso != null  %}
<div class="compromiso">
	<h2> Su compromiso: </h2>
	{{page.compromiso}}
</div>

{% endif %}






