<div class="innerficha">
  <div class="introCandidate"> 
    <img class="cImage" src="{{ page.featured-image }}" title="{{ page.title }}" /> 
    <div class="actionLine">
      <h1> {{ page.title }} </h1>
      {% if page.categories contains 'whitelist' %}
      Difunde la transparencia

            <a href="http://twitter.com/share" class="twitter-share-button" data-count="none" data-via="{{ site.twitter }}" data-text="Esta es la transparencia de @{{page.c_twitter}}? {{site.hashtag}}" ></a>
        
      {% endif %}

      {% if page.categories contains 'blacklist' %}
          Exígele transparencia 
           <a href="http://twitter.com/share" class="twitter-share-button" data-count="none" data-via="{{ site.twitter }}" data-text=" Mal @{{page.c_twitter}}. Contesta {{site.hashtag}} en " ></a>
      {% endif %}
    </div>
  </div>  
</div>

   
