<div class="ficha">

     <!--WHITE LIST-->

    {% if post.categories contains 'whitelist' %}

      {% if site.profile_detail == true %}
         <a class="fancybox fancybox.ajax cName" data-fancybox-group="candidatos-b" href="{{ BASE_PATH }}{{ post.url }}">
             {{ post.title }}
            <img class=""src="{{ post.featured-image }}" />
         </a>

      {% else %}
          <div class="cName" data-fancybox-group="candidatos-b">
             {{ post.title }}
            <img class=""src="{{ post.featured-image }}" />
         </div>

      {% endif %}
      
      {% if post.categories contains 'starred' %}
           <a href="http://twitter.com/share" class="twitter-share-button" data-count="none" data-via="{{ site.twitter }}" data-text="¡Bien la transparencia de @{{ post.c_twitter}}! {{site.hashtag}}" ></a>
            {% if post.gender == 'm' %} <div class="starred">¡Felicítalo! :)</div> {% else %}  <div class="starred">¡Felicítala! :) </div> {% endif %}
            
          {% else %}
           <a href="http://twitter.com/share" class="twitter-share-button" data-count="none" data-via="{{ site.twitter }}" data-text="Bien @{{ post.c_twitter}}, gracias por decirnos #QuienTeFinancia." ></a> <div class="declara">¡Comparte!</div>
          {% endif %}

    {% endif %}

      <!--BLACK LIST-->

      {% if post.categories contains 'blacklist' %}
            {% if site.profile_detail == true %}
              <a class="fancybox fancybox.ajax cName" data-fancybox-group="candidatos-b" href="{{ BASE_PATH }}{{ post.url }}">
                 {{ post.title }}     
                     <div class="noResponseBand">
                      <img class="" src="{{ post.featured-image }}" />
                    </div>
              </a>
            {% else %}
            <div class="cName" data-fancybox-group="candidatos-b">
               {{ post.title }}     
                   <div class="noResponseBand">
                    <img class="" src="{{ post.featured-image }}" />
                  </div>
            </div>
            {% endif %}
          
           <!-- Twitter -->

      <div class="clearfix">
          <span class="oneAction">
            <a href="http://twitter.com/share" class="twitter-share-button" data-count="none" data-via="{{ site.twitter }}" data-text="Oye @{{post.c_twitter}} transparenten quien financia su campaña electoral. Pedimos hechos, no palabras!" ></a>
          </span>
<!--           <span class="oneAction">
            <a class="mailto" href="mailto:{{ post.public-email }}?subject=¿Quién%20te%20financia?&amp;body=Estimada%20candidata:%0A%0AQuisiera%20saber%20quién%20financia%20su%20campaña%20electoral.%20%0A%0AEn%20Chile,%20los%20vínculos%20del%20poder%20político%20constituyen%20una%20amenaza%20para%20la%20creación%20de%20políticas%20públicas%20que%20promuevan%20el%20interés%20general.%20Consideramos%20que%20la%20legislación%20es%20insuficiente.%0A%0AAyúdanos%20a%20cambiar%20las%20cosas%20y%20cuéntanos%20#QuienTeFinancia" target="_blank"><i class="fa fa-envelope-o"></i> Envíale un mail</a>
          </span> -->
          <span class="oneAction">
            <a class="mailto" href="https://www.facebook.com/messages/{{ post.facebook }}" target="_blank"><i class="fa fa-facebook"></i> Escríbele por Facebook</a>
          </span>
      </div>


          <div class="actionQTF">
              ¡Exígele transparencia!
          </div> 
        
      {% endif %}   

      <!--POST PRIMARIAS-->
       {% if post.categories contains 'soon' %}
          <div class="cName">
           {{ post.title }}     
               <div class="soonBand">
                <img class="" src="{{ post.featured-image }}" />
              </div>
           </div>
           <br/>

      {% endif %}   
</div>

   
