<div class="innerficha">
  <div class="introCandidate"> 
    <img class="cImage" src="{{ page.featured-image }}" title="{{ page.title }}" /> 
    <div class="actionLine">
      <h1> {{ page.title }} </h1>
      {% if page.categories contains 'whitelist' %}
      Difunde la transparencia

            <a href="http://twitter.com/share" class="twitter-share-button" data-count="none" data-via="{{ site.twitter }}" data-text="Esta es la transparencia de @{{page.c_twitter}}? {{site.hashtag}}" ></a>
      {% elsif page.categories contains 'blacklist' %}
          Exígele transparencia 
           <a href="http://twitter.com/share" class="twitter-share-button" data-count="none" data-via="{{ site.twitter }}" data-text="Oye @{{page.c_twitter}} transparenten quien financia su campaña electoral. Pedimos hechos, no palabras!"></a>
      {% endif %}
     
      {% if page.extra_info_url !='' and page.extra_info_url %}
      <p>Revisa el perfil del candidato en <a href="{{ page.extra_info_url }}" target="_blank" >  Vota Inteligente</a> </p>
      {% endif %}

    </div>
  </div>  
</div>

   
