<div class="ficha">

     <!--WHITE LIST-->

    {% if post.categories contains 'whitelist' %}
      <a class="fancybox fancybox.ajax cName" data-fancybox-group="candidatos-b" href="{{ BASE_PATH }}{{ post.url }}">
         {{ post.title }}
        <img class=""src="{{ post.featured-image }}" />
     </a>

      
      {% if post.star != null  %}
           <a href="http://twitter.com/share" class="twitter-share-button" data-count="none" data-via="{{ site.twitter }}" data-text="¡Bien la transparencia de @{{ post.c_twitter}}! {{site.hashtag}}" ></a>
            
          {% else %}
           <a href="http://twitter.com/share" class="twitter-share-button" data-count="none" data-via="{{ site.twitter }}" data-text="Felicitaciones @{{ post.c_twitter}} por decirnos #QuienTeFinancia tu campaña electoral. Así cada día logramos ser + transparentes." ></a>
          {% endif %}
      <br /> Comparte

              

    {% endif %}

      <!--BLACK LIST-->

      {% if post.categories contains 'blacklist' %}
        <a class="fancybox fancybox.ajax cName" data-fancybox-group="candidatos-b" href="{{ BASE_PATH }}{{ post.url }}">
           {{ post.title }}     
               <div class="noResponseBand">
                <img class="" src="{{ post.featured-image }}" />
              </div>
        </a>
     
          
           <!-- Twitter -->

          <span class="oneAction">
            <a href="http://twitter.com/share" class="twitter-share-button" data-count="none" data-via="{{ site.twitter }}" data-text="Oye @{{post.c_twitter}} cuéntanos con nombre y apellido quien te financia tu campaña electoral en {{site.hashtag}} en " ></a>
          </span><br />
          <div class="actionQTF">
              ¡Exígele transparencia!
          </div> 
        
      {% endif %}   

      <!--POST PRIMARIAS-->
       {% if post.categories contains 'soon' %}
          <div class="cName">
           {{ post.title }}     
               <div class="soonBand">
                <img class="" src="{{ post.featured-image }}" />
              </div>
           </div>
           <br/>

      {% endif %}   
</div>

   
