<footer>
	<div class="centerCont">
          <div class="clearfix" id="convocan">
	            <p>Organizaciones que convocan:</p>
	           <div class="clearfix">
	              <span><a href="http://ciudadanointeligente.org/" target="_blank"><img src="{{site.url}}/img/logo-ciudadanoi.png"></a></span>
	              <span><a href="http://www.chiletransparente.cl/"><img src="{{site.url}}/img/logos/chiletransparente.png"></a></span>
	              <span><a href="http://www.dignidadtotal.cl/"> <img src="{{site.url}}/img/logos/dignidadtotal.png"></a></span>
	              <span><a href="http://www.proacceso.cl/"><img src="{{site.url}}/img/logos/proacceso.png"></a></span>
	              <span><a href="http://www.caip.cl/"><img src="{{site.url}}/img/logos/caip.png"></a></span>
	          
	          </div>
	          <div class="clearfix">            
	              <span><a href="http://www.educacion2020.cl/" target="_blank"><img src="{{site.url}}/img/logos/2020.png"></a></span>
				  <span><a href="http://espaciopublico.cl/" target="_blank"><img src="img/logos/espaciopublico.png"></a></span>
	              <span><a href="http://www.casadelapaz.cl/" target="_blank"><img src="{{site.url}}/img/logos/casadelapaz.png"></a></span>
	              <span><a href="http://www.redliberal.cl/" target="_blank"><img src="{{site.url}}/img/logos/redliberal.png"></a></span>
	              <span><a href="http://www.iguales.cl/" target="_blank"><img src="{{site.url}}/img/logos/iguales.png"></a></span>
	              <span><a href="http://redparalademocracia.cl/" target="_blank"><img src="{{site.url}}/img/logos/red.png"></a></span>
	              <span><a href="http://humanas.cl/" target="_blank"><img src="{{site.url}}/img/logos/humanas.png"></a></span>
	               <span><a href="http://yoreciclo.cl/" target="_blank"><img src="{{site.url}}/img/logos/yo-reciclo2.png"></a></span>  
	          </div>
	          <div class="clearfix">   
	           <p>Organizaciones internacionales que adhieren:</p>       	
				<span><a href="http://congresotransparente.org/" target="_blank"><img src="{{site.url}}/img/logos/congresotransparente.jpg"></a></span>
				<span><a href="http://www.accionciudadana.org.gt/" target="_blank"><img src="{{site.url}}/img/logos/accionciudadana.png"></a></span>
				<span><a href="http://www.accionciudadana.org.gt/" target="_blank"><img src="{{site.url}}/img/logos/poderciudadano.png"></a></span>
				<span><a href="http://www.semillas.org.py/" target="_blank"><img src="{{site.url}}/img/logos/semillas.png"></a></span>
				<span><a href="http://datauy.org/" target="_blank"><img src="{{site.url}}/img/logos/data.png"></a></span>
				<span><a href="http://sunlightfoundation.com/" target="_blank"><img src="{{site.url}}/img/logos/SunlightFoundation.png"></a></span>
				<span><a href="http://www.sudestada.com.uy/" target="_blank"><img src="{{site.url}}/img/logos/sudestada.png"></a></span>
				<span><a href="http://visionlegislativa.com/" target="_blank"><img src="{{site.url}}/img/logos/vision.png"></a></span>
				<span><a href="http://fundar.org.mx/" target="_blank"><img src="{{site.url}}/img/logos/fundar.png"></a></span>

	          </div> 
	          <div class="clearfix">
				
				<span><a href="http://www.transparenciacolombia.org.co/" target="_blank"><img src="{{site.url}}/img/logos/transparenciacolombia.jpg"></a></span>
				<span><a href="http://www.transparencialegislativa.org/" target="_blank"><img src="{{site.url}}/img/logos/logo-red.png"></a></span>
	          </div>   
        </div>
 </div>
        <div class="container centerCont">
            <a href="http://ciudadanointeligente.org/" target="_blank"><img src="{{site.baseurl}}/img/logo-ciudadanoi.png"></a>
            <span>+562 24192770 | Holanda 895, Providencia, Santiago | <a href="mailto:info@ciudadanointeligente.org?Subject=Prensa%20votainteligente" class="email-prensa">Mail contacto</a> | <a href="http://eepurl.com/3qrNj" class="email-prensa">Suscríbete a nuestro Newsletter</a></span>
        </div>
</footer>

<!-- Google Analytics: change site.analytics to be your site's ID. -->
<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    ga('create', "{{ site.analytics }}", "{{ site.basedomain }}");
    ga('require', 'displayfeatures');
    ga('send', 'pageview');
</script>