<div class="ficha">

     <!--WHITE LIST-->

    {% if post.categories contains 'p_whitelist' %}
      <a class="fancybox fancybox.ajax cName" data-fancybox-group="candidatos-b" href="{{ BASE_PATH }}{{ post.url }}">
         {{ post.title }}
        <img class=""src="{{ post.featured-image }}" />
     </a>

 <!--
      {% if post.star != null  %}
           <a href="http://twitter.com/share" class="twitter-share-button" data-count="none" data-via="{{ site.twitter }}" data-text="¡Bien la transparencia de @{{ post.c_twitter}}! {{site.hashtag}}" ></a>
            
          {% else %}
           <a href="http://twitter.com/share" class="twitter-share-button" data-count="none" data-via="{{ site.twitter }}" data-text="¿Es suficiente la respuesta de @{{ post.c_twitter}}? {{site.hashtag}}" ></a>
          {% endif %}
      <br /> Comparte

              
-->
    {% endif %}
  

      <!--BLACK LIST-->

      {% if post.categories contains 'p_blacklist' %}
        <a class="fancybox fancybox.ajax cName" data-fancybox-group="candidatos-b" href="{{ BASE_PATH }}{{ post.url }}">
           {{ post.title }}     
               <div class="noResponseBand">
                <img class="" src="{{ post.featured-image }}" />
              </div>
        </a>
     
          
           <!-- Twitter -->
 <!--
          <span class="oneAction">
            <a href="http://twitter.com/share" class="twitter-share-button" data-count="none" data-via="{{ site.twitter }}" data-text=" Mal @{{post.c_twitter}}. Contesta {{site.hashtag}} en " ></a>
          </span><br />
          <div class="actionQTF">
              ¡Exígele transparencia!
          </div> 
  -->
      {% endif %}   
<br />
</div>

   
