<!-- Related Projects Row -->
        <div class="container">
        	<div class="titleLine">
				<h1>Transparentémos el financiamiento de la política</h1>
				<h3>Pídele a estos 5 senadores de la Comisión de Constitución que pongan fin a las donaciones de empresas y aportes reservados.</h3>
        	</div>
        </div>	
		<div class="container">
			<ul class="grid cs-style-3">
				  <div class="col-md-15 col-sm-15">
				    <div class="thumbnail">
				      <img src="img/felipe-harboe.jpg" alt="Felipe Harboe">
				      <div class="caption">
				        <h3>Felipe Harboe</h3>
				        <p>Senador de la República</p>
				        <p><a href="http://twitter.com/share" class="twitter-share-button" data-count="none" data-url="{{site.url}}" data-text="Con más transparencia ganamos todos @felipeharboe! Pongamos fin a las donaciones reservadas y de personas jurídicas"></a></p>
				      </div>
				    </div>
				  </div>
				  <div class="col-md-15 col-sm-15">
				    <div class="thumbnail">
				      <img src="img/pedro-araya.jpg" alt="Pedro Araya">
				      <div class="caption">
				        <h3>Pedro Araya</h3>
				        <p>Senador de la República</p>
				        <p><a href="http://twitter.com/share" class="twitter-share-button" data-count="none" data-url="{{site.url}}" data-text="Con más transparencia ganamos todos @ArayaPedro ! Pongamos fin a las donaciones reservadas y de personas jurídicas"></a></p>
				      </div>
				    </div>
				  </div>
				   <div class="col-md-15 col-sm-15">
				    <div class="thumbnail">
				      <img src="img/hernan-larrain.jpg" alt="Hernán Larraín">
				      <div class="caption">
				        <h3>Hernán Larraín</h3>
				        <p>Senador de la República</p>
				        <p><a href="http://twitter.com/share" class="twitter-share-button" data-count="none" data-url="{{site.url}}" data-text="Con más transparencia ganamos todos @HernanLarrainF ! Pongamos fin a las donaciones reservadas y de personas jurídicas"></a></p>
				      </div>
				    </div>
				  </div>
				  <div class="col-md-15 col-sm-15">
				    <div class="thumbnail">
				      <img src="img/alfonso-de-urresti.jpg" alt="Alfonso de Urresti">
				      <div class="caption">
				        <h3>Alfonso de Urresti</h3>
				        <p>Senador de la República</p>
				        <p><a href="http://twitter.com/share" class="twitter-share-button" data-count="none" data-url="{{site.url}}" data-text="Con más transparencia ganamos todos @adeurresti ! Pongamos fin a las donaciones reservadas y de personas jurídicas"></a></p>
				      </div>
				    </div>
				  </div>
				  <div class="col-md-15 col-sm-15">
				    <div class="thumbnail">
				      <img src="img/alberto-espina.jpg" alt="Alberto Espina">
				      <div class="caption">
				        <h3>Alberto Espina</h3>
				        <p>Senador de la República</p>
				        <p><a href="http://twitter.com/share" class="twitter-share-button" data-count="none" data-url="{{site.url}}" data-text="Con más transparencia ganamos todos @albertoespina ! Pongamos fin a las donaciones reservadas y de personas jurídicas"></a></p>
				      </div>
				    </div>
				  </div>
            </ul>
        </div>
       
        <script type="text/javascript">
window.twttr=(function(d,s,id){var t,js,fjs=d.getElementsByTagName(s)[0];if(d.getElementById(id)){return}js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);return window.twttr||(t={_e:[],ready:function(f){t._e.push(f)}})}(document,"script","twitter-wjs"));
</script>
        
 <!-- /.row -->

