
<div class="container">
    <div class="chamber-2">
      <div class="row">
        <div class="col-md-1"></div>
        
        <div class="col-md-1">
          <div class="against-vote">
            <img src="http://www.senado.cl/prontus_senado/imag/dn5/senadores/senador10.jpg" alt="" class="img-circle chamber">
            <span class="positive"></span>
          </div>
          <div class="against-vote">
            <img src="http://www.senado.cl/prontus_senado/imag/dn5/senadores/senador10.jpg" alt="" class="img-circle chamber">
            <span class="positive"></span>
          </div>
          <div class="against-vote">
            <img src="http://www.senado.cl/prontus_senado/imag/dn5/senadores/senador10.jpg" alt="" class="img-circle chamber">
            <span class="positive"></span>
          </div>
          <div class="against-vote">
            <img src="http://www.senado.cl/prontus_senado/imag/dn5/senadores/senador10.jpg" alt="" class="img-circle chamber">
            <span class="positive"></span>
          </div>
          <div class="against-vote">
            <img src="http://www.senado.cl/prontus_senado/imag/dn5/senadores/senador10.jpg" alt="" class="img-circle chamber">
            <span class="positive"></span>
          </div>
        </div>

        <div class="col-md-1">
          <div class="against-vote">
            <img src="http://www.senado.cl/prontus_senado/imag/dn5/senadores/senador10.jpg" alt="" class="img-circle chamber">
            <span class="abstention"></span>
          </div>
          <div class="against-vote">
            <img src="http://www.senado.cl/prontus_senado/imag/dn5/senadores/senador10.jpg" alt="" class="img-circle chamber">
            <span class="abstention"></span>
          </div>
          <div class="against-vote">
            <img src="http://www.senado.cl/prontus_senado/imag/dn5/senadores/senador10.jpg" alt="" class="img-circle chamber">
            <span class="abstention"></span>
          </div>
          <div class="against-vote">
            <img src="http://www.senado.cl/prontus_senado/imag/dn5/senadores/senador10.jpg" alt="" class="img-circle chamber">
            <span class="abstention"></span>
          </div>
          <div class="against-vote">
            <img src="http://www.senado.cl/prontus_senado/imag/dn5/senadores/senador10.jpg" alt="" class="img-circle chamber">
            <span class="abstention"></span>
          </div>
        </div>
        
        <div class="col-md-1">
          <div class="against-vote">
            <img src="http://www.senado.cl/prontus_senado/imag/dn5/senadores/senador10.jpg" alt="" class="img-circle chamber">
            <span class="against"></span>
          </div>
          <div class="against-vote">
            <img src="http://www.senado.cl/prontus_senado/imag/dn5/senadores/senador10.jpg" alt="" class="img-circle chamber">
            <span class="against"></span>
          </div>
          <div class="against-vote">
            <img src="http://www.senado.cl/prontus_senado/imag/dn5/senadores/senador10.jpg" alt="" class="img-circle chamber">
            <span class="against"></span>
          </div>
          <div class="against-vote">
            <img src="http://www.senado.cl/prontus_senado/imag/dn5/senadores/senador10.jpg" alt="" class="img-circle chamber">
            <span class="against"></span>
          </div>
          <div class="against-vote">
            <img src="http://www.senado.cl/prontus_senado/imag/dn5/senadores/senador10.jpg" alt="" class="img-circle chamber">
            <span class="against"></span>
          </div>
        </div>
        <div class="col-md-1">
          <div class="against-vote">
            <img src="http://www.senado.cl/prontus_senado/imag/dn5/senadores/senador10.jpg" alt="" class="img-circle chamber">
            <span class="positive"></span>
          </div>
          <div class="against-vote">
            <img src="http://www.senado.cl/prontus_senado/imag/dn5/senadores/senador10.jpg" alt="" class="img-circle chamber">
            <span class="positive"></span>
          </div>
        </div>
        <div class="col-md-1">
          <div class="against-vote">
            <img src="http://www.senado.cl/prontus_senado/imag/dn5/senadores/senador10.jpg" alt="" class="img-circle chamber">
            <span class="positive"></span>
          </div>
          <div class="against-vote">
            <img src="http://www.senado.cl/prontus_senado/imag/dn5/senadores/senador10.jpg" alt="" class="img-circle chamber">
            <span class="positive"></span>
          </div>
        </div>
        <div class="col-md-1">
          <div class="against-vote">
            <img src="http://www.senado.cl/prontus_senado/imag/dn5/senadores/senador10.jpg" alt="" class="img-circle chamber">
            <span class="positive"></span>
          </div>
          <div class="against-vote">
            <img src="http://www.senado.cl/prontus_senado/imag/dn5/senadores/senador10.jpg" alt="" class="img-circle chamber">
            <span class="positive"></span>
          </div>
        </div>
        <div class="col-md-1">
          <div class="against-vote">
            <img src="http://www.senado.cl/prontus_senado/imag/dn5/senadores/senador10.jpg" alt="" class="img-circle chamber">
            <span class="positive"></span>
          </div>
          <div class="against-vote">
            <img src="http://www.senado.cl/prontus_senado/imag/dn5/senadores/senador10.jpg" alt="" class="img-circle chamber">
            <span class="positive"></span>
          </div>
        </div>

        <div class="col-md-1">
          <div class="against-vote">
            <img src="http://www.senado.cl/prontus_senado/imag/dn5/senadores/senador10.jpg" alt="" class="img-circle chamber">
            <span class="positive"></span>
          </div>
          <div class="against-vote">
            <img src="http://www.senado.cl/prontus_senado/imag/dn5/senadores/senador10.jpg" alt="" class="img-circle chamber">
            <span class="positive"></span>
          </div>
          <div class="against-vote">
            <img src="http://www.senado.cl/prontus_senado/imag/dn5/senadores/senador10.jpg" alt="" class="img-circle chamber">
            <span class="positive"></span>
          </div>
          <div class="against-vote">
            <img src="http://www.senado.cl/prontus_senado/imag/dn5/senadores/senador10.jpg" alt="" class="img-circle chamber">
            <span class="positive"></span>
          </div>
          <div class="against-vote">
            <img src="http://www.senado.cl/prontus_senado/imag/dn5/senadores/senador10.jpg" alt="" class="img-circle chamber">
            <span class="positive"></span>
          </div>
        </div>
        <div class="col-md-1">
          <div class="against-vote">
            <img src="http://www.senado.cl/prontus_senado/imag/dn5/senadores/senador10.jpg" alt="" class="img-circle chamber">
            <span class="positive"></span>
          </div>
          <div class="against-vote">
            <img src="http://www.senado.cl/prontus_senado/imag/dn5/senadores/senador10.jpg" alt="" class="img-circle chamber">
            <span class="positive"></span>
          </div>
          <div class="against-vote">
            <img src="http://www.senado.cl/prontus_senado/imag/dn5/senadores/senador10.jpg" alt="" class="img-circle chamber">
            <span class="positive"></span>
          </div>
          <div class="against-vote">
            <img src="http://www.senado.cl/prontus_senado/imag/dn5/senadores/senador10.jpg" alt="" class="img-circle chamber">
            <span class="positive"></span>
          </div>
          <div class="against-vote">
            <img src="http://www.senado.cl/prontus_senado/imag/dn5/senadores/senador10.jpg" alt="" class="img-circle chamber">
            <span class="positive"></span>
          </div>
        </div>
        <div class="col-md-1">
          <div class="against-vote">
            <img src="http://www.senado.cl/prontus_senado/imag/dn5/senadores/senador10.jpg" alt="" class="img-circle chamber">
            <span class="positive"></span>
          </div>
          <div class="against-vote">
            <img src="http://www.senado.cl/prontus_senado/imag/dn5/senadores/senador10.jpg" alt="" class="img-circle chamber">
            <span class="positive"></span>
          </div>
          <div class="against-vote">
            <img src="http://www.senado.cl/prontus_senado/imag/dn5/senadores/senador10.jpg" alt="" class="img-circle chamber">
            <span class="positive"></span>
          </div>
          <div class="against-vote">
            <img src="http://www.senado.cl/prontus_senado/imag/dn5/senadores/senador10.jpg" alt="" class="img-circle chamber">
            <span class="positive"></span>
          </div>
          <div class="against-vote">
            <img src="http://www.senado.cl/prontus_senado/imag/dn5/senadores/senador10.jpg" alt="" class="img-circle chamber">
            <span class="positive"></span>
          </div>
        </div>

      </div>
    </div>

    <div class="progress">
      <a href="#" class="green-votes-bar-2">
        <div class="progress-bar progress-bar-success" style="width: 35%"></div>
      </a>
      <a href="#" class="red-votes-bar-2">
        <div class="progress-bar progress-bar-danger" style="width: 35%"></div>
      </a>
      <a href="#" class="skyblue-votes-bar-2">
        <div class="progress-bar progress-bar-info" style="width: 10%"></div>
      </a>
      <a href="#" class="yellow-votes-bar-2">
        <div class="progress-bar progress-bar-warning" style="width: 10%"></div>
      </a>
      <a href="#" class="blue-votes-bar-2">
        <div class="progress-bar progress-bar-default" style="width: 10%"></div>
      </a>
    </div>
  </div>
<script>
	$(document).ready(function(){
    var backgroundColor = 'background-color:#FFF; opacity:0.8;'
    //a favor
    $('.green-votes-bar-2').mouseover(function(e){
      $('.chamber-2 span.positive').removeAttr('style','');
      $('.chamber-2 span.against').attr('style',backgroundColor);
      $('.chamber-2 span.abstention').attr('style',backgroundColor);
      $('.chamber-2 span.ausent').attr('style',backgroundColor);
      $('.chamber-2 span.paring').attr('style',backgroundColor);
    }).mouseout(function(){
      $('.chamber-2 span.against').removeAttr('style','');
      $('.chamber-2 span.abstention').removeAttr('style','');
      $('.chamber-2 span.paring').removeAttr('style','');
      $('.chamber-2 span.ausent').removeAttr('style','');
    });

    //en contra
    $('.red-votes-bar-2').mouseover(function(e){
      $('.chamber-2 span.against').removeAttr('style','');
      $('.chamber-2 span.positive').attr('style',backgroundColor);
      $('.chamber-2 span.abstention').attr('style',backgroundColor);
      $('.chamber-2 span.ausent').attr('style',backgroundColor);
      $('.chamber-2 span.paring').attr('style',backgroundColor);
    }).mouseout(function(){
      $('.chamber-2 span.positive').removeAttr('style','');
      $('.chamber-2 span.abstention').removeAttr('style','');
      $('.chamber-2 span.paring').removeAttr('style','');
      $('.chamber-2 span.ausent').removeAttr('style','');
    });

    //abstencion
    $('.skyblue-votes-bar-2').mouseover(function(e){
      $('.chamber-2 span.abstention').removeAttr('style','');
      $('.chamber-2 span.against').attr('style',backgroundColor);
      $('.chamber-2 span.positive').attr('style',backgroundColor);
      $('.chamber-2 span.ausent').attr('style',backgroundColor);
      $('.chamber-2 span.paring').attr('style',backgroundColor);
    }).mouseout(function(){
      $('.chamber-2 span.positive').removeAttr('style','');
      $('.chamber-2 span.against').removeAttr('style','');
      $('.chamber-2 span.abstention').removeAttr('style','');
      $('.chamber-2 span.paring').removeAttr('style','');
    });

    //ausencia
    $('.yellow-votes-bar-2').mouseover(function(e){
      $('.chamber-2 span.ausent').removeAttr('style','');
      $('.chamber-2 span.against').attr('style',backgroundColor);
      $('.chamber-2 span.positive').attr('style',backgroundColor);
      $('.chamber-2 span.abstention').attr('style',backgroundColor);
      $('.chamber-2 span.paring').attr('style',backgroundColor);
    }).mouseout(function(){
      $('.chamber-2 span.positive').removeAttr('style','');
      $('.chamber-2 span.against').removeAttr('style','');
      $('.chamber-2 span.abstention').removeAttr('style','');
      $('.chamber-2 span.paring').removeAttr('style','');
      $('.chamber-2 span.ausent').removeAttr('style','');
    });

    //pareo
    $('.blue-votes-bar-2').mouseover(function(e){
      $('.chamber-2 span.paring').removeAttr('style','');
      $('.chamber-2 span.against').attr('style',backgroundColor);
      $('.chamber-2 span.positive').attr('style',backgroundColor);
      $('.chamber-2 span.abstention').attr('style',backgroundColor);
      $('.chamber-2 span.ausent').attr('style',backgroundColor);
    }).mouseout(function(){
      $('.chamber-2 span.positive').removeAttr('style','');
      $('.chamber-2 span.against').removeAttr('style','');
      $('.chamber-2 span.abstention').removeAttr('style','');
      $('.chamber-2 span.ausent').removeAttr('style','');
    });
  })
</script>
