
<div class="container postures">
		<h2>En este mapa del Senado podrás ver las distintas posiciones de los 38 senadores sobre las indicaciones que buscan poner fin a los aportes reservados y a las donaciones de personas jurídicas</h2>
    <div class="chamber-2">
      <div class="row">
        <div class="col-md-1">
          <div class="against-vote">
            <img src="../img/congressman/alberto-espina.jpg" alt="Alberto Espina" class="img-circle chamber" width="60px" height="60px">
            <span class="abstention"></span>
          </div>
          <div class="against-vote">
            <img src="../img/congressman/jose-garcia.jpg" alt="" class="img-circle chamber" width="60px" height="60px">
            <span class="abstention"></span>
          </div>
          <div class="against-vote">
            <img src="../img/congressman/andres-allamand.jpg" alt="" class="img-circle chamber" width="60px" height="60px">
            <span class="against"></span>
          </div>
          <div class="against-vote">
            <img src="../img/congressman/jose-manuel-ossandon.jpg" alt="" class="img-circle chamber" width="60px" height="60px">
            <span class="abstention"></span>
          </div>
        </div>

        <div class="col-md-1">
          <div class="against-vote">
            <img src="../img/congressman/alejandro-garcia-huidobro.jpg" alt="" class="img-circle chamber" width="60px" height="60px">
            <span class="abstention"></span>
          </div>
          <div class="against-vote">
            <img src="../img/congressman/ena-von-baer.jpg" alt="" class="img-circle chamber" width="60px" height="60px">
            <span class="abstention"></span>
          </div>
          <div class="against-vote">
            <img src="../img/congressman/victor-perez-varela.jpg" alt="" class="img-circle chamber" width="60px" height="60px">
            <span class="abstention"></span>
          </div>
          <div class="against-vote">
            <img src="../img/congressman/jacqueline-van-rysselberghe.jpg" alt="" class="img-circle chamber" width="60px" height="60px">
            <span class="abstention"></span>
          </div>
          <div class="against-vote">
            <img src="../img/congressman/jaime-orpis.jpg" alt="" class="img-circle chamber" width="60px" height="60px">
            <span class="abstention"></span>
          </div>
        </div>
        
        <div class="col-md-1">
          <div class="against-vote">
            <img src="../img/congressman/carlos-bianchi.jpg" alt="" class="img-circle chamber" width="60px" height="60px">
            <span class="abstention"></span>
          </div>
          <div class="against-vote">
            <img src="../img/congressman/francisco-chahuan.jpg" alt="" class="img-circle chamber" width="60px" height="60px">
            <span class="abstention"></span>
          </div>
          <div class="against-vote">
           <img src="../img/congressman/ivan-moreira.jpg" alt="" class="img-circle chamber" width="60px" height="60px">
            <span class="abstention"></span>
          </div>
          <div class="against-vote">
            <img src="../img/congressman/hernan-larrain.jpg" alt="" class="img-circle chamber" width="60px" height="60px">
            <span class="abstention"></span>
          </div>
          <div class="against-vote">
            <img src="../img/congressman/juan-antonio-coloma.jpg" alt="" class="img-circle chamber" width="60px" height="60px">
            <span class="abstention"></span>
          </div>
        </div>
        <div class="col-md-1">
          <div class="against-vote">
            <img src="../img/congressman/baldo-prokurica.jpg" alt="" class="img-circle chamber" width="60px" height="60px">
            <span class="abstention"></span>
          </div>
          <div class="against-vote">
            <img src="../img/congressman/lily-perez.jpg" alt="" class="img-circle chamber" width="60px" height="60px">
            <span class="positive"></span>
          </div>
        </div>
        <div class="col-md-1">
          <div class="against-vote">
            <img src="../img/congressman/antonio-horvath.jpg" alt="" class="img-circle chamber" width="60px" height="60px">
            <span class="positive"></span>
          </div>
          <div class="against-vote">
            <img src="../img/congressman/ignacio-walker.jpg" alt="" class="img-circle chamber" width="60px" height="60px">
            <span class="abstention"></span>
          </div>
        </div>
        <div class="col-md-1">
          <div class="against-vote">
            <img src="../img/congressman/pedro-araya.jpg" alt="" class="img-circle chamber" width="60px" height="60px">
            <span class="paring"></span>
          </div>
        </div>
        <div class="col-md-1">
          <div class="against-vote">
            <img src="../img/congressman/carolina-goic.jpg" alt="" class="img-circle chamber" width="60px" height="60px">
            <span class="positive"></span>
          </div>
          <div class="against-vote">
            <img src="../img/congressman/manuel-antonio-matta.jpg" alt="" class="img-circle chamber" width="60px" height="60px">
            <span class="abstention"></span>
          </div>
        </div>
        <div class="col-md-1">
          <div class="against-vote">
            <img src="../img/congressman/jorge-pizarro.jpg" alt="" class="img-circle chamber" width="60px" height="60px">
            <span class="abstention"></span>
          </div>
          <div class="against-vote">
           <img src="../img/congressman/patricio-walker.jpg" alt="" class="img-circle chamber" width="60px" height="60px">
            <span class="abstention"></span>
          </div>
        </div>
        <div class="col-md-1">
          <div class="against-vote">
           <img src="../img/congressman/andres-zaldivar.jpg" alt="" class="img-circle chamber" width="60px" height="60px">
            <span class="abstention"></span>
          </div>
          <div class="against-vote">
            <img src="../img/congressman/alejandro-navarro.jpg" alt="" class="img-circle chamber" width="60px" height="60px">
            <span class="positive"></span>
          </div>
          <div class="against-vote">
            <img src="../img/congressman/alejandro-guillier.jpg" alt="" class="img-circle chamber" width="60px" height="60px">
            <span class="positive"></span>
          </div>
          <div class="against-vote">
            <img src="../img/congressman/ricardo-lagos-weber.jpg" alt="" class="img-circle chamber" width="60px" height="60px">
            <span class="positive"></span>
          </div>
          <div class="against-vote">
            <img src="../img/congressman/guido-girardi.jpg" alt="" class="img-circle chamber" width="60px" height="60px">
            <span class="positive"></span>
          </div>
        </div>
        <div class="col-md-1">
          <div class="against-vote">
            <img src="../img/congressman/rabindranath-quinteros.jpg" alt="" class="img-circle chamber" width="60px" height="60px">
            <span class="abstention"></span>
          </div>
          <div class="against-vote">
            <img src="../img/congressman/fulvio-rossi.jpg" alt="" class="img-circle chamber" width="60px" height="60px">
            <span class="positive"></span>
          </div>
          <div class="against-vote">
            <img src="../img/congressman/alfonso-de-urresti.jpg" alt="" class="img-circle chamber" width="60px" height="60px">
            <span class="positive"></span>
          </div>
          <div class="against-vote">
            <img src="../img/congressman/jaime-quintana.jpg" alt="" class="img-circle chamber" width="60px" height="60px">
            <span class="positive"></span>
          </div>
          <div class="against-vote">
            <img src="../img/congressman/eugenio-tuma.jpg" alt="" class="img-circle chamber" width="60px" height="60px">
            <span class="positive"></span>
          </div>
        </div>
        <div class="col-md-1">
          <div class="against-vote">
            <img src="../img/congressman/carlos-montes.jpg" alt="" class="img-circle chamber" width="60px" height="60px">
            <span class="positive"></span>
          </div>
          <div class="against-vote">
            <img src="../img/congressman/isabel-allende.jpg" alt="" class="img-circle chamber" width="60px" height="60px">
            <span class="positive"></span>
          </div>
          <div class="against-vote">
            <img src="../img/congressman/juan-pablo-letelier.jpg" alt="" class="img-circle chamber" width="60px" height="60px">
            <span class="abstention"></span>
          </div>
          <div class="against-vote">
            <img src="../img/congressman/adriana-muñoz.jpg" alt="" class="img-circle chamber" width="60px" height="60px">
            <span class="positive"></span>
          </div>
          <div class="against-vote">
            <img src="../img/congressman/felipe-harboe.jpg" alt="" class="img-circle chamber" width="60px" height="60px">
            <span class="abstention"></span>
          </div>
        </div>


      </div>
    </div>

    <div class="progress">
      <a href="#" class="green-votes-bar-2">
        <div class="progress-bar progress-bar-success" style="width: 35%">A favor</div>
      </a>
      <a href="#" class="red-votes-bar-2">
        <div class="progress-bar progress-bar-danger" style="width: 10%">Rechaza</div>
      </a>
      <a href="#" class="yellow-votes-bar-2">
        <div class="progress-bar progress-bar-warning" style="width: 10%">Solo aportes reservados</div>
      </a>
      <a href="#" class="blue-votes-bar-2">
        <div class="progress-bar progress-bar-info" style="width: 45%">No responde</div>
      </a>
    </div>
  </div>
<script>
	$(document).ready(function(){
    var backgroundColor = 'background-color:#FFF; opacity:0.8;'
    //a favor
    $('.green-votes-bar-2').mouseover(function(e){
      $('.chamber-2 span.positive').removeAttr('style','');
      $('.chamber-2 span.against').attr('style',backgroundColor);
      $('.chamber-2 span.abstention').attr('style',backgroundColor);
      $('.chamber-2 span.ausent').attr('style',backgroundColor);
      $('.chamber-2 span.paring').attr('style',backgroundColor);
    }).mouseout(function(){
      $('.chamber-2 span.against').removeAttr('style','');
      $('.chamber-2 span.abstention').removeAttr('style','');
      $('.chamber-2 span.paring').removeAttr('style','');
      $('.chamber-2 span.ausent').removeAttr('style','');
    });

    //en contra
    $('.red-votes-bar-2').mouseover(function(e){
      $('.chamber-2 span.against').removeAttr('style','');
      $('.chamber-2 span.positive').attr('style',backgroundColor);
      $('.chamber-2 span.abstention').attr('style',backgroundColor);
      $('.chamber-2 span.ausent').attr('style',backgroundColor);
      $('.chamber-2 span.paring').attr('style',backgroundColor);
    }).mouseout(function(){
      $('.chamber-2 span.positive').removeAttr('style','');
      $('.chamber-2 span.abstention').removeAttr('style','');
      $('.chamber-2 span.paring').removeAttr('style','');
      $('.chamber-2 span.ausent').removeAttr('style','');
    });

    //abstencion
    $('.skyblue-votes-bar-2').mouseover(function(e){
      $('.chamber-2 span.abstention').removeAttr('style','');
      $('.chamber-2 span.against').attr('style',backgroundColor);
      $('.chamber-2 span.positive').attr('style',backgroundColor);
      $('.chamber-2 span.ausent').attr('style',backgroundColor);
      $('.chamber-2 span.paring').attr('style',backgroundColor);
    }).mouseout(function(){
      $('.chamber-2 span.positive').removeAttr('style','');
      $('.chamber-2 span.against').removeAttr('style','');
      $('.chamber-2 span.abstention').removeAttr('style','');
      $('.chamber-2 span.paring').removeAttr('style','');
    });

    //ausencia
    $('.yellow-votes-bar-2').mouseover(function(e){
      $('.chamber-2 span.paring').removeAttr('style','');
      $('.chamber-2 span.against').attr('style',backgroundColor);
      $('.chamber-2 span.positive').attr('style',backgroundColor);
      $('.chamber-2 span.abstention').attr('style',backgroundColor);
      //$('.chamber-2 span.paring').attr('style',backgroundColor);
    }).mouseout(function(){
      $('.chamber-2 span.positive').removeAttr('style','');
      $('.chamber-2 span.against').removeAttr('style','');
      $('.chamber-2 span.abstention').removeAttr('style','');
      $('.chamber-2 span.paring').removeAttr('style','');
      $('.chamber-2 span.ausent').removeAttr('style','');
    });

    //pareo
    $('.blue-votes-bar-2').mouseover(function(e){
      $('.chamber-2 span.abstention').removeAttr('style','');
      $('.chamber-2 span.against').attr('style',backgroundColor);
      $('.chamber-2 span.positive').attr('style',backgroundColor);
      $('.chamber-2 span.paring').attr('style',backgroundColor);
      $('.chamber-2 span.ausent').attr('style',backgroundColor);
    }).mouseout(function(){
      $('.chamber-2 span.positive').removeAttr('style','');
      $('.chamber-2 span.against').removeAttr('style','');
      $('.chamber-2 span.paring').removeAttr('style','');
      $('.chamber-2 span.ausent').removeAttr('style','');
    });
  })
</script>
