<div class='container'>
	<div class='row'>
		<div class="col-md-2">
			<div class="simple-puppet"><img src="{{site.url}}/img/congressman/puppets/pablo-zalaquett.png"></div>
		</div>
		<div class="col-md-2">
			<div class="hand-puppet"><img src="{{site.url}}/img/congressman/puppets/pablo-zalaquett.png"></div>
		</div>
		<div class="col-md-2">
			<div class="simple-puppet"><img src="{{site.url}}/img/congressman/puppets/pablo-zalaquett.png"></div>
		</div>
		<div class="col-md-2">
			<div class="hand-puppet"><img src="{{site.url}}/img/congressman/puppets/pablo-zalaquett.png"></div>
		</div>
		<div class="col-md-2">
			<div class="simple-puppet"><img src="{{site.url}}/img/congressman/puppets/pablo-zalaquett.png"></div>
		</div>
		<div class="col-md-2">
			<div class="hand-puppet"><img src="{{site.url}}/img/congressman/puppets/pablo-zalaquett.png"></div>
		</div>
		<div class="col-md-2">
			<div class="simple-puppet"><img src="{{site.url}}/img/congressman/puppets/pablo-zalaquett.png"></div>
		</div>
		<div class="col-md-2">
			<div class="simple-puppet"><img src="{{site.url}}/img/congressman/puppets/pablo-zalaquett.png"></div>
		</div>
		<div class="col-md-2">
			<div class="simple-puppet"><img src="{{site.url}}/img/congressman/puppets/pablo-zalaquett.png"></div>
		</div>
		<div class="col-md-2">
			<div class="simple-puppet"><img src="{{site.url}}/img/congressman/puppets/pablo-zalaquett.png"></div>
		</div>
		<div class="col-md-2">
			<div class="simple-puppet"><img src="{{site.url}}/img/congressman/puppets/pablo-zalaquett.png"></div>
		</div>
	</div>
</div>