<div class="hero">
	<div class="container">
				<div class="slideshow" id="slideshow">
					<ol class="slides">
						<li class="current" data-effect-in="moveDownIn">
							<div class="description">
								<h2>Identificamos algunas de las marionetas de la política...</h2>
								<h3>Pablo Wagner</h3>
								<p><span class="strong">Acusación:</span> Delito de Cohecho (respecto a los particulares) y  por el Delito de Lavado de activos.</p>
								<p><span class="strong">Pena:</span> Multa de la mitad al tanto de los derechos o del beneficio solicitados o aceptados y de 541 días a 5 años de presidio. Por lavado de activos de 5 a 15 años de presidio y multa de 200 UTM a 1000 UTM.</p>
								<h3>Iván Moreira</h3>
								<p><span class="strong">Acusación:</span> 4 boletas extendidas por su chofer, secretaria de la UDI y su pareja por: $17.000.000</p>
								<p><span class="strong">Pena:</span> El que facilite boletas para cometer estos delitos: pena de presidio menor en sus grados medio a máximo y con una multa de hasta 40 UTA (541 días – 5 años). Además podrá ser sancionado por la Comisión de Ética y Transparencia del Senado.</p>
							</div>
							<div class="tiltview row">
								<a href=""><img src="../img/carousel/puppet-wagner.png"></a>
								<a href=""><img src="../img/carousel/puppet-moreira.png"></a>
							</div>
						</li>
						<li>
							<div class="description">
								<h2>Identificamos algunas de las marionetas de la política...</h2>
								<h3>Laurence Golborne</h3>
								<p><span class="strong">Acusación:</span> 5 facturas de su empresa de comunicaciones por: $100.000.000</p>
								<p><span class="strong">Pena:</span> El que facilite boletas para cometer estos delitos: pena de presidio menor en sus grados medio a máximo y con una multa de hasta 40 UTA (541 días – 5 años).</p>
								<h3>Ena von Baer</h3>
								<p><span class="strong">Acusación:</span> 6 boletas y facturas de terceros por: $22.000.000</p>
								<p><span class="strong">Pena:</span> El que facilite boletas para cometer estos delitos: pena de presidio menor en sus grados medio a máximo y con una multa de hasta 40 UTA (541 días – 5 años). Además podrá ser sancionada por la Comisión de Ética y Transparencia del Senado.</p>
							</div>
							<div class="tiltview row">
								<a href=""><img src="../img/carousel/puppet-golborne.png"></a>
								<a href=""><img src="../img/carousel/puppet-vonbaer.png"></a>
							</div>
						</li>
						<li>
							<div class="description">
								<h2>Identificamos algunas de las marionetas de la política...</h2>
								<h3>Pablo Zalaquett</h3>
								<p><span class="strong">Acusación:</span> Una factura intermediada por una asesora por: $15.00.000 y otros 18 documentos pagados por otras empresas.</p>
								<p><span class="strong">Pena:</span> El que facilite boletas para cometer estos delitos: pena de presidio menor en sus grados medio a máximo y con una multa de hasta 40 UTA (541 días – 5 años).</p>
								<h3>Pablo Longueira</h3>
								<p><span class="strong">Acusación:</span> Habría recibido 135 millones de pesos, según contó Bravo a la Fiscalía.</p>
								<p><span class="strong">Pena:</span> El que facilite boletas para cometer estos delitos: pena de presidio menor en sus grados medio a máximo y con una multa de hasta 40 unidades tributarias anuales (541 días – 5 años).</p>
							</div>
							<div class="tiltview row">
								<a href=""><img src="../img/carousel/puppet-zalaquett.png"></a>
								<a href=""><img src="../img/carousel/puppet-longueira.png"></a>
							</div>
						</li>
						<li>
							<div class="description">
								<h2>Identificamos algunas de las marionetas de la política...</h2>
								<h3>Jovino Novoa</h3>
								<p><span class="strong">Acusación</span> Facturas de una sociedad de inversiones y boletas de terceros destinadas presuntamente para recolectar dineros para candidatos UDI.</p>
								<p><span class="strong">Pena:</span> El que facilite boletas para cometer estos delitos: pena de presidio menor en sus grados medio a máximo y con una multa de hasta 40 unidades tributarias anuales (541 días – 5 años).</p>
								<h3>Andrés Velasco</h3>
								<p><span class="strong">Acusación:</span> 1 factura de su propiedad por: $20.000.000 y 1 boleta de un contador al que se le paga a traves de penta.</p>
								<p><span class="strong">Pena:</span> El que facilite boletas para cometer estos delitos: pena de presidio menor en sus grados medio a máximo y con una multa de hasta 40 UTA (541 días – 5 años).</p>
							</div>
							<div class="tiltview row">
								<a href=""><img src="../img/carousel/puppet-novoa.png"></a>
								<a href=""><img src="../img/carousel/puppet-velasco.png"></a>
							</div>
						</li>
						<li>
							<div class="description">
								<h2>Identificamos algunas de las marionetas de la política...</h2>
								<h3>Alberto Undurraga</h3>
								<p><span class="strong">Acusación:</span> 1 factura de la fundación Ciudad Justa por $4.000.000</p>
								<p><span class="strong">Pena:</span> El que facilite boletas para cometer estos delitos: pena de presidio menor en sus grados medio a máximo y con una multa de hasta 40 UTA (541 días – 5 años).</p>
								<h3>Alberto Cardemil</h3>
								<p><span class="strong">Acusación:</span> 2 boletas de terceros por: $7.200.000.</p>
								<p><span class="strong">Pena:</span> El que facilite boletas para cometer estos delitos: pena de presidio menor en sus grados medio a máximo y con una multa de hasta 40 UTA (541 días – 5 años).</p>
							</div>
							<div class="tiltview row">
								<a href=""><img src="../img/carousel/puppet-undurraga.png"></a>
								<a href=""><img src="../img/carousel/puppet-cardemil.png"></a>
							</div>
						</li>
						<li>
							<div class="description">
								<h2>Identificamos algunas de las marionetas de la política...</h2>
								<h3>Felipe De Mussy</h3>
								<p><span class="strong">Acusación:</span> 2 boletas de terceros por: $7.200.000.</p>
								<p><span class="strong">Pena:</span> El que facilite boletas para cometer estos delitos: pena de presidio menor en sus grados medio a máximo y con una multa de hasta 40 UTA (541 días – 5 años). Además podrá ser sancionado por la Comisión de Ética y Transparencia de la Cámara de Diputados. </p>
							</div>
							<div class="tiltview row">
								<a href=""><img src="../img/carousel/puppet-demussy.png"></a>
							</div>
						</li>
					</ol>
				</div>

	</div><!-- /container -->
</div>

<script src="../js/classie.js"></script>
<script src="../js/tiltSlider.js"></script>
<script>
	new TiltSlider( document.getElementById( 'slideshow' ) );
</script>