<!-- Related Projects reform -->
<div class="container">
        <div class="reform">
			<h1>Decálogo Dinero y Política</h1>
			<!--<p>Te presentamos la propuesta de Ciudadano Inteligente para regular el financiamiento de la política</p>-->
        </div>
       
		<div id="list2">
		   <ol>
		      <li><p>Prohibir las donaciones de personas jurídicas.<span class="buttontwitter"><a href="http://twitter.com/share" class="twitter-share-button" data-count="none" data-via="{{site.twitter_username}}"data-url="{{site.url}}" data-text="Prohibir las donaciones de personas jurídicas. http://twitpic.com/ecabkj"></a></span></p>
		      </li>
		      <li><p>Regular la entrega de créditos para el financiamiento de campañas o partidos y su pago, así como la publicidad de esta información. <span class="buttontwitter"><a href="http://twitter.com/share" class="twitter-share-button" data-count="none" data-via="{{site.twitter_username}}"data-url="{{site.url}}" data-text="Regular los créditos bancarios para el financiamiento de la política. http://twitpic.com/ecabkj"></a></span></p></li>
		      <li><p>Prohibir donaciones anónimas. <span class="buttontwitter"><a href="http://twitter.com/share" class="twitter-share-button" data-count="none" data-via="{{site.twitter_username}}"data-url="{{site.url}}" data-text="Prohibir donaciones anónimas. http://twitpic.com/ecabkj"></a></span></p></li>
		      <li><p>Reformular donaciones reservadas, rebajando su monto máximo a 20 UF y que en total no puedan representar más de un 20% del límite al gasto electoral. <span class="buttontwitter"><a href="http://twitter.com/share" class="twitter-share-button" data-count="none" data-via="{{site.twitter_username}}"data-url="{{site.url}}" data-text="Donaciones públicas por regla general y sólo reservadas para donaciones de menos de 20 UF http://twitpic.com/ecabkj"></a></span></p></li>
		      <li><p>Rebajar el límite actual de gasto electoral. <span class="buttontwitter"><a href="http://twitter.com/share" class="twitter-share-button" data-count="none" data-via="{{site.twitter_username}}"data-url="{{site.url}}" data-text="Rebajar el límite actual de gasto electoral. http://twitpic.com/ecabkj"></a></span></p></li>
		      <li><p>Equiparar normas sobre donaciones a las campañas a los partidos políticos. <span class="buttontwitter"><a href="http://twitter.com/share" class="twitter-share-button" data-count="none" data-via="{{site.twitter_username}}"data-url="{{site.url}}" data-text="Equiparar normas sobre donaciones a las campañas a los partidos políticos. http://twitpic.com/ecabkj"></a></span></p></li>
		      <li><p>Financiamiento público basal a los partidos políticos, asociado a mayores obligaciones de transparencia, rendición de cuentas y actividades de capacitación. <span class="buttontwitter"><a href="http://twitter.com/share" class="twitter-share-button" data-count="none" data-via="{{site.twitter_username}}"data-url="{{site.url}}" data-text="Financiamiento público a los Partidos Políticos asociado a mayor transparencia http://twitpic.com/ecabkj"></a></span></p></li>
		      <li><p>Modernización de los sistemas informáticos del Servel, posibilitando la transparencia online y en tiempo real del financiamiento y gastos de campañas. <span class="buttontwitter"><a href="http://twitter.com/share" class="twitter-share-button" data-count="none" data-via="{{site.twitter_username}}"data-url="{{site.url}}" data-text="Dinero y Política: Transparencia online y en tiempo real del financiamiento y gastos. http://twitpic.com/ecabkj"></a></span></p></li>
		      <li><p>Robustecimiento de las facultades y recursos del Servel, para posibilitar una verdadera fiscalización activa. <span class="buttontwitter"><a href="http://twitter.com/share" class="twitter-share-button" data-count="none" data-via="{{site.twitter_username}}"data-url="{{site.url}}" data-text="Más facultes y recursos para el Servel, queremos fiscalización activa! http://twitpic.com/ecabkj"></a></span></p></li>
		      <li><p>Elevar las sanciones, y en casos graves de infracción, sancionar con pena aflictiva que conlleva a la pérdida del derecho de sufragio y el cargo. <span class="buttontwitter"><a href="http://twitter.com/share" class="twitter-share-button" data-count="none" data-via="{{site.twitter_username}}"data-url="{{site.url}}" data-text="Mayores sanciones para las malas prácticas relacionadas con dinero y política. http://twitpic.com/ecabkj"></a></span></p></li>
		   </ol>
		</div>
		 <div class="firm clearfix">
			   <div class="col-lg-6">
			   		<img src="img/firm-finger.png" alt="img" height="50px" widht="125px">
					<h3>Michelle Bachelet Jeria</h3>
					<span>Presidenta de la República de Chile</span>
				</div>
				<div class="col-lg-6">
					<img src="img/firm-finger.png" alt="img" height="50px" widht="125px">
					<h3>Ximena Rincón González</h3>
					<span>Secretaría General de la Presidencia</span>
				</div>
		</div>	
</div>

 <!-- /.reform -->

<div class="banner">
     <h1>Seminario: <strong>Dinero y Política</strong></h1>
     <p>Te invitamos a nuestro primer seminario de debate, donde los diputados <strong>Giorgio Jackson</strong> y <strong>Vlado Mirosevic</strong> presentarán su proyecto de ley en la materia. Además contarémos con los comentarios de Lucas Sierra y Marcela Ríos.</p>
     <span>Jueves 9 de Octubre | 18:30 Hrs | Facultad de Derecho UAH: Cienfuegos 41, Santiago</span>
</div>

