<script type="text/javascript">
	
	$(document).ready(function() {
	    // Get the  current URL
	    var pathname = window.location;
	 
	   // Create the twitter URL
	    var tweeturl = 'http://twitter.com/share?url='+encodeURI(pathname)+'&text=Sin SERVEL, no hay reforma al financiamiento de la política! Exigimos a @ximerincon el proyecto de ley AHORA';
	 
	    // Place the text on the page. Change body to wherever you want the button placed. 
	    $('#twitt-rincon').append('<a id="mycustomtwitterbutton" target="_blank" href=" '+ tweeturl+' "><i class="fa fa-twitter"></i> Twitteale</a>')
	});

	$(document).ready(function() {
	    // Get the  current URL
	    var pathname = window.location;
	 
	   // Create the twitter URL
	    var tweeturl = 'http://twitter.com/share?url='+encodeURI(pathname)+'&text=Sin SERVEL, no hay reforma al financiamiento de la política! @RicardoRincon1 exijamos el proyecto de ley AHORA';
	 
	    // Place the text on the page. Change body to wherever you want the button placed. 
	    $('#twitt-rrincon').append('<a id="mycustomtwitterbutton" target="_blank" href=" '+ tweeturl+' "><i class="fa fa-twitter"></i> Twitteale</a>')
	});

	$(document).ready(function() {
	    // Get the  current URL
	    var pathname = window.location;
	 
	   // Create the twitter URL
	    var tweeturl = 'http://twitter.com/share?url='+encodeURI(pathname)+'&text=Sin SERVEL, no hay reforma al financiamiento de la política! @diputadoceroni exijamos el proyecto de ley AHORA';
	 
	    // Place the text on the page. Change body to wherever you want the button placed. 
	    $('#twitt-cceroni').append('<a id="mycustomtwitterbutton" target="_blank" href=" '+ tweeturl+' "><i class="fa fa-twitter"></i> Twitteale</a>')
	});

	$(document).ready(function() {
	    // Get the  current URL
	    var pathname = window.location;
	 
	   // Create the twitter URL
	    var tweeturl = 'http://twitter.com/share?url='+encodeURI(pathname)+'&text=Sin SERVEL, no hay reforma al financiamiento de la política! @fchahin exijamos el proyecto de ley AHORA';
	 
	    // Place the text on the page. Change body to wherever you want the button placed. 
	    $('#twitt-fchahin').append('<a id="mycustomtwitterbutton" target="_blank" href=" '+ tweeturl+' "><i class="fa fa-twitter"></i> Twitteale</a>')
	});

	$(document).ready(function() {
	    // Get the  current URL
	    var pathname = window.location;
	 
	   // Create the twitter URL
	    var tweeturl = 'http://twitter.com/share?url='+encodeURI(pathname)+'&text=Sin SERVEL, no hay reforma al financiamiento de la política! @colomadiputado exijamos el proyecto de ley AHORA';
	 
	    // Place the text on the page. Change body to wherever you want the button placed. 
	    $('#twitt-jcoloma').append('<a id="mycustomtwitterbutton" target="_blank" href=" '+ tweeturl+' "><i class="fa fa-twitter"></i> Twitteale</a>')
	});

	$(document).ready(function() {
	    // Get the  current URL
	    var pathname = window.location;
	 
	   // Create the twitter URL
	    var tweeturl = 'http://twitter.com/share?url='+encodeURI(pathname)+'&text=Sin SERVEL, no hay reforma al financiamiento de la política! @Hugo_Gutierrez_ exijamos el proyecto de ley AHORA';
	 
	    // Place the text on the page. Change body to wherever you want the button placed. 
	    $('#twitt-hgutierrez').append('<a id="mycustomtwitterbutton" target="_blank" href=" '+ tweeturl+' "><i class="fa fa-twitter"></i> Twitteale</a>')
	});

	$(document).ready(function() {
	    // Get the  current URL
	    var pathname = window.location;
	 
	   // Create the twitter URL
	    var tweeturl = 'http://twitter.com/share?url='+encodeURI(pathname)+'&text=Sin SERVEL, no hay reforma al financiamiento de la política! @jorgeinsunza exijamos el proyecto de ley AHORA';
	 
	    // Place the text on the page. Change body to wherever you want the button placed. 
	    $('#twitt-jinsunza').append('<a id="mycustomtwitterbutton" target="_blank" href=" '+ tweeturl+' "><i class="fa fa-twitter"></i> Twitteale</a>')
	});

	$(document).ready(function() {
	    // Get the  current URL
	    var pathname = window.location;
	 
	   // Create the twitter URL
	    var tweeturl = 'http://twitter.com/share?url='+encodeURI(pathname)+'&text=Sin SERVEL, no hay reforma al financiamiento de la política! @cmonckeberg exijamos el proyecto de ley AHORA';
	 
	    // Place the text on the page. Change body to wherever you want the button placed. 
	    $('#twitt-cmonckeberg').append('<a id="mycustomtwitterbutton" target="_blank" href=" '+ tweeturl+' "><i class="fa fa-twitter"></i> Twitteale</a>')
	});

	$(document).ready(function() {
	    // Get the  current URL
	    var pathname = window.location;
	 
	   // Create the twitter URL
	    var tweeturl = 'http://twitter.com/share?url='+encodeURI(pathname)+'&text=Sin SERVEL, no hay reforma al financiamiento de la política! @LeoSotoChile exijamos el proyecto de ley AHORA';
	 
	    // Place the text on the page. Change body to wherever you want the button placed. 
	    $('#twitt-lsoto').append('<a id="mycustomtwitterbutton" target="_blank" href=" '+ tweeturl+' "><i class="fa fa-twitter"></i> Twitteale</a>')
	});

	$(document).ready(function() {
	    // Get the  current URL
	    var pathname = window.location;
	 
	   // Create the twitter URL
	    var tweeturl = 'http://twitter.com/share?url='+encodeURI(pathname)+'&text=Sin SERVEL, no hay reforma al financiamiento de la política! @renesaffirio exijamos el proyecto de ley AHORA';
	 
	    // Place the text on the page. Change body to wherever you want the button placed. 
	    $('#twitt-rsaffirio').append('<a id="mycustomtwitterbutton" target="_blank" href=" '+ tweeturl+' "><i class="fa fa-twitter"></i> Twitteale</a>')
	});

	$(document).ready(function() {
	    // Get the  current URL
	    var pathname = window.location;
	 
	   // Create the twitter URL
	    var tweeturl = 'http://twitter.com/share?url='+encodeURI(pathname)+'&text=Sin SERVEL, no hay reforma al financiamiento de la política! @arturosquella exijamos el proyecto de ley AHORA';
	 
	    // Place the text on the page. Change body to wherever you want the button placed. 
	    $('#twitt-asquella').append('<a id="mycustomtwitterbutton" target="_blank" href=" '+ tweeturl+' "><i class="fa fa-twitter"></i> Twitteale</a>')
	});

	$(document).ready(function() {
	    // Get the  current URL
	    var pathname = window.location;
	 
	   // Create the twitter URL
	    var tweeturl = 'http://twitter.com/share?url='+encodeURI(pathname)+'&text=Sin SERVEL, no hay reforma al financiamiento de la política! @RenzoTrisotti exijamos el proyecto de ley AHORA';
	 
	    // Place the text on the page. Change body to wherever you want the button placed. 
	    $('#twitt-rtrisotti').append('<a id="mycustomtwitterbutton" target="_blank" href=" '+ tweeturl+' "><i class="fa fa-twitter"></i> Twitteale</a>')
	});

	$(document).ready(function() {
	    // Get the  current URL
	    var pathname = window.location;
	 
	   // Create the twitter URL
	    var tweeturl = 'http://twitter.com/share?url='+encodeURI(pathname)+'&text=Sin SERVEL, no hay reforma al financiamiento de la política! @MarisolTurres exijamos el proyecto de ley AHORA';
	 
	    // Place the text on the page. Change body to wherever you want the button placed. 
	    $('#twitt-mturres').append('<a id="mycustomtwitterbutton" target="_blank" href=" '+ tweeturl+' "><i class="fa fa-twitter"></i> Twitteale</a>')
	});

</script>