/**
 * Site header
 */
 html body{
	margin: 0;
	font-weight: normal;
	font-size: 15px;
	font-family: 'Open Sans', sans-serif;
    -webkit-font-smoothing: antialiased;
    -webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
    text-shadow: rgba(0,0,0,.01) 0 0 1px;
    background-color: #27245F;
 }

h1 {
  font-size: 72px;
  font-family: "Yanone Kaffeesatz", Helvetica, sans-serif;
  font-weight: 400;
  color: #FFFFFF;
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center
}

.slideshow h2 {
	color: #FFFFFF;
}

.col-md-8 h2 {
	margin-bottom: 60px;
    text-align: left;
}

h2 {
	font-family: "Yanone Kaffeesatz";
	font-size: 50px;
    color: #FFFFFF;
    text-align: center;
}

h3 {
	font-family: "Yanone Kaffeesatz";
	font-weight: 500;
	font-size: 30px;
    color: #CCCCCC;
}

h4 {
	font-family: "Yanone Kaffeesatz";
	font-size: 21px;
	font-weight: 500;
    color: #CCCCCC;
    margin-top: 40px;
    margin-bottom: 40px;
}

h5 {
    font-family: "Yanone Kaffeesatz";
    font-weight: 500;
    font-size: 30px;
    color: #FFFFFF;
}

$text-color: #45515E;

 p{
	color: #CCCCCC;
	line-height: 26px;
	padding: 0;
    font-size: 14px;

 }
 li{
 	color: white;
 }

 span.subhead {
	display: block;
	font-size: 30px;
	color: rgba( #FFFFFF, .7 )
}

.slideshow p {
 	color: #CCCCCC;
 }

 a{
	color: #73C4CD;
 }

a:visited{
	color: #73C4CD;
 }

 a:hover{
  color: #A6A8AB;
  text-decoration: none;
 }


.text-width {
    max-width: 800px;
    margin: 0 auto;
}

 /*HEADER*/

.site-header {
	min-height: 70px;
    background: #1F1B50;
    padding:10px;
    z-index: 1;

    /* Positioning context for the mobile navigation icon*/
    position: relative;
}

.mainNav {
	float: right;
	list-style: none;
	padding: 10px 0 0;
}

.mainNav ul {
	float: right;
	list-style: none;
	position: relative;
	margin: 7px 0 0 0;
	-webkit-padding-start: 0px;
}

.mainNav ul li {
	float: left;
	margin-left: 5px;
	list-style: none;
}

.site-title {
    font-size: 26px;
    line-height: 56px;
    letter-spacing: -1px;
    margin-bottom: 0;
    float: left;

    &,
    &:visited {
        color: $grey-color-dark;
    }
}

.mainNav a {
	color: #FFFFFF;
	padding: 4px 8px;
	border-radius: 3px;
}

.mainNav a:hover {
	background: #DD3428;
}

.site-nav {
    float: right;
    line-height: 56px;

    .menu-icon {
        display: none;
    }

    .page-link {
        color: $text-color;
        line-height: $base-line-height;

        /*Gaps between nav items, but not on the first one*/
        &:not(:first-child) {
            margin-left: 20px;
        }
    }

    @include media-query($on-palm) {
        position: absolute;
        top: 9px;
        right: 30px;
        background-color: $background-color;
        border: 1px solid $grey-color-light;
        border-radius: 5px;
        text-align: right;

        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;

            > svg {
                width: 18px;
                height: 15px;

                path {
                    fill: $grey-color-dark;
                }
            }
        }

        .trigger {
            clear: both;
            display: none;
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }

        .page-link {
            display: block;
            padding: 5px 10px;
        }
    }
}

.siteLogo{
	background: url(../img/logo-qtf.png) no-repeat 0 0 transparent;
	background-size: 200px 64px;
	height: 65px;
	display: block;
	width: 203px;
	text-indent: -99999px;
	float: left;
}

div#bajada-logo {
	float: left;
	margin-top: 43px;
	color: #7F7FA3;
	margin-left: -120px;
}

.edition {
	text-align: right;
	color: #fff;
	font-weight: 100;
	font-size: 31px;
	line-height: 26px;
}

.panel h4 {
    text-align: left;
    font-size: 24px;
}

/**
 * Site footer
 */

footer{
	background:#171C36;
	padding: 60px 0;
	color: #9B9B9B;
}

.centerCont {
	max-width: 1000px;
	margin: 0 auto;
	padding: 10px;
}

#convocan span {
	float: left;
	margin-right: 20px;
	list-style: none;
}

footer span {
	float: right;
	margin-top: 20px;
}
footer a img {
	opacity: 0.7;
	max-width:200px;
}
footer a img:hover {
	opacity: 1;
}
.site-footer {
    padding: $spacing-unit 0;
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    font-size: 15px;
    color: $grey-color;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}



/**
 * Page content
 */

.page-content {
    padding: $spacing-unit 0;
}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 24px;
}

/**
 * News
 */
.col-md-4 {
    margin-bottom: 60px;
}


/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}