<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"> -->
  <title>{{ site.name }}</title>
  <meta name="author" content="{{ site.author }}" />
  <meta name="description" content="{{ site.description }}" />
  <meta name="keywords" content="{{ site.etiquetas }}" >
<meta property="og:title" content="Quien te financia" />
<meta property="og:type" content="website" />
<meta property="og:url" content="http://quientefinancia.cl/" />
<meta property="og:image" content="http://quientefinancia.cl/images/icono-qtf.png" />
<meta property="og:description" 
  content="En un mes de campaña electoral los candidatos gastarán miles de millones. ¿De dónde viene esta plata? La ley ENCAPUCHA a los financistas. Queremos saber sus nombres y apellidos." />

  <!-- <link rel="alternate" type="application/rss+xml" href="/atom.xml" /> -->
  <link rel="stylesheet" href="/css/qtf.css" type="text/css" />
  <!-- <link rel="stylesheet" href="/css/exception.css" type="text/css"/> -->
  <link rel="stylesheet" href="/css/base.css" type="text/css"/>
  <!-- <link rel="stylesheet" href="/css/pygments.css" type="text/css" /> -->
<!--   <link media="only screen and (max-device-width: 480px)" href="/css/iphone.css" type="text/css" rel="stylesheet" />
  <link media="only screen and (device-width: 768px)" href="/css/iphone.css" type="text/css" rel="stylesheet" /> -->
  <link href='http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz' rel='stylesheet' type='text/css'>
  <!-- <link href='http://fonts.googleapis.com/css?family=Droid+Sans' rel='stylesheet' type='text/css'> -->
  <link rel="apple-touch-icon" href="/apple-touch-icon.png" />
  <link rel="icon" href="favicon.ico" sizes="16x16">
  <link rel="stylesheet" href="/js/fancybox/jquery.fancybox.css" type="text/css" media="screen" />
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
  <script type="text/javascript" src="/js/application.js"></script>
  <script type="text/javascript" src="/js/fancybox/jquery.fancybox.pack.js"></script>
  <script type="text/javascript" src="/js/fancybox/jquery.fancybox.js"></script>
  <!-- <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet"> -->
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,700,800' rel='stylesheet' type='text/css'>
</head>

<body class="body-qtf">
  <div class="headTop">
    <div class="centerCont">
      <a class="siteLogo" href="/index.html" title="Quién te financia?">Quién te financia?</a>
      <nav class="mainNav">
        {% include menu.html %}
      </nav>
    </div>
  </div> 
  <div class="bulb_container">
    <div class="fci-ampolleta-dark">
      <!-- debemos mejorar esto, los iframe son obsoletos!! -->
      <iframe src="http://ciudadanointeligente.org/assets/bulb_dark.html?wmode=transparent?wmode=transparent" width="120px" height="220" frameborder="0"></iframe>
    </div>
  </div> 
  <div class="centerCont">
    <section class="sidebar">
      <section class="meta">

        <a href="https://twitter.com/share" class="twitter-share-button" data-text="Sin transparencia en la política nos gobierna un poder invisible. {{ site.hashtag }} " data-via="ciudadanoi" data-lang="es" >Twittear</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>



        <div id="fb-root"></div>
        <script>(function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/es_LA/all.js#xfbml=1";
        fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>
        <div class="fb-like" data-href="http://www.quientefinancia.cl/" data-send="false" data-layout="button_count" data-width="450" data-show-faces="false" data-font="verdana"></div>

      </section>
    </section>
    {{ content }}
  </div>
  <script src="http://platform.twitter.com/widgets.js" type="text/javascript"></script>
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-41822715-1', 'quientefinancia.cl');
    ga('send', 'pageview');
  </script>
  
</body>
</html>
